/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*product box*/
.dispatch-product-box {
	margin-top: 15px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #e9f2fc;
}

.dispatch-product-box ul li {
	display: inline-block;
}

.dispatch-product-box ul.product-name-site {
	padding: 5px 15px;
	margin-bottom: 10px;
}

.dispatch-product-box ul.product-name-site li {
	margin-right: 25px;
}

.dispatch-product-box ul.product-name-site li .dropdown .btn-primary {
	width: 135px;
	height: 47px;
	background: #fff;
	color: #464646;
	border: 0;
	box-shadow: none;
	padding: 0;
	text-align: left;
	padding-left: 15px;
	font-size: 13px;
	font-family: NotoSansRegular;
	font-weight: 400;
	text-shadow: none;
	font-weight: 600;
}

.dispatch-product-box ul.product-name-site li .dropdown .longbtn {
	width: 335px;
}

.dispatch-product-box ul.product-name-site li .dropdown .caret {
	margin-left: 35px;
}

.dispatch-product-box .user-log.search-box {
	padding: 20px 15px;
}

.dispatch-product-box ul.search-box {
	padding: 5px 15px;
}

.dispatch-product-box ul.search-box li {
	margin-right: 10px;
}

.dispatch-product-box ul.search-box li .date-range {
	width: 120px;
}

.dispatch-product-box ul.search-box .li-tags {
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 3px;
}
/*product box*/

/*daily-report */
.daily-report {
	margin-top: 30px;
	border: 4px solid #61ba35;
	padding: 15px 5px;
	margin-bottom: 30px;
}

h3.reporttitle {
	margin-bottom: 15px;
	font-weight: 600;
}

.daily-report .test-box>li {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	font-weight: 600;
}

.daily-report li .dropdown .btn-primary {
	width: 135px;
	height: 35px;
	background: #fff;
	color: #464646;
	border: 0;
	box-shadow: none;
	padding: 0;
	text-align: left;
	padding-left: 15px;
	font-size: 13px;
	font-family: NotoSansRegular;
	font-weight: 400;
	text-shadow: none;
	font-weight: 600;
}

.daily-report li .dropdown .midbtn {
	width: 158px;
	border: 1px solid #ccc;
}

.daily-report li .dropdown .caret {
	margin-left: 98px;
}

.daily-report .xicon {
	display: block;
	position: relative;
	top: 8px;
	padding: 2px;
	font-size: 13px;
	border: 1px solid #ccc;
	text-decoration: none;
	font-weight: 600;
}

.daily-report .xicon img {
	position: relative;
	top: 2px;
	height: 16px;
	left: 2px;
}
/*daily-report */

/*iplist*/
.tbl-iplist, .tbl-adslist {
	width: 1688px;
}

.bottom-table .iplist, .bottom-table .adslist {
	margin-top: 30px;
}

table.iplist tr td, table.adslist tr td {
	position: relative;
	height: 47px;
	padding: 0 5px;
	font-family: NotoSansRegular;
	text-align: center;
}

.iplist tr.active td, .adslist tr.active td {
	background-color: #e9f2fc;
}

td .korealogo {
	position: absolute;
	left: 5px;
	top: 0;
	bottom: 0;
	height: 22px;
	margin: auto;
}

.iplist tr td.blurred {
	color: #cccccc;
}

.iplist tr td.blue {
	color: #2267e2;
}

.iplist tr td {
	cursor: pointer;
}

.iplist tr td .plusicon {
	position: absolute;
	margin: auto;
	height: 16px;
	top: 0;
	bottom: 0;
}

.iplist tr td .plusicon-left {
	left: 20px;
}

.iplist tr td .plusicon-right {
	right: 20px;
}
/*iplist*/
.side-nav.aas-page ul li a {
	position: relative;
	display: block;
}

.side-nav.aas-page ul li a:before {
	position: absolute;
	content: "-";
	left: 15%;
	top: -1.75px;
	bottom: 0;
	margin: auto;
}

.side-nav.aas-page ul li.active.nodash a:before {
	display: none;
}

.side-nav.aas-page ul li.active.blue a {
	background-color: #daeef3;
}

.side-nav.aas-page ul li.active.gray a {
	background-color: #cccccc;
}

.side-nav.aas-page ul li.active.white a {
	background-color: #ffffff;
}

.side-nav.aas-page ul li:not(.nodash) a {
	padding-left: 18%;
}

.bottom-table.data-table table thead tr td {
	background-color: #f3f3f3;
}

/*-----------------------------------jan 30,2018*/
.membershow a {
	display: inline-block;
	width: 150px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	background: linear-gradient(#4383de, #3f7dd4);
}

.membershow a:hover {
	background: #2468ca;
	color: #fff;
}

/*members-table*/
.tbl-members .btnClickable:hover {
	background: #2468ca;
}

.tbl-members .btnClickable {
	background: linear-gradient(#4383de, #3f7dd4);
	border: 1px solid #cccccc;
	width: 68px;
	height: 30px;
	border-radius: 3px;
	font-size: 13px;
	font-family: NotoSansRegular, sans-serif;
	outline: none;
	border: 0;
}
/*members-table*/

/*member registration*/
.regform-container {
	width: 1572px;
	background: #fff;
	margin: 0 auto;
	padding: 80px 0;
	text-align: center;
}

.regform .fieldBox {
	margin-bottom: 10px;
}

.regform .fieldBox span {
	font-size: 13px;
	font-family: NotoSansRegular, sans-serif;
	display: inline-block;
	width: 200px;
	padding: 10px 0;
	margin-right: 10px;
	vertical-align: middle;
	border: 1px solid #c2c2c2;
}

.regform .fieldBox input[type="text"] {
	font-size: 13px;
	font-family: NotoSansRegular, sans-serif;
	display: inline-block;
	vertical-align: middle;
	width: 500px;
	line-height: 30px;
	padding-left: 15px;
	border: 1px solid #c2c2c2;
}

.submitBox {
	margin-top: 50px;
}

.submitBox .btnClickable {
	display: inline-block;
	border: 1px solid #cccccc;
	width: 68px;
	line-height: 30px;
	border-radius: 3px;
	font-size: 13px;
	font-family: NotoSansRegular, sans-serif;
	outline: none;
	border: 0;
	color: #fff;
	text-decoration: none;
}

.submitBox .btnsignup {
	margin-right: 15px;
	background: linear-gradient(#4383de, #3f7dd4);
}

.submitBox .btnsignup:hover {
	background: #2468ca;
}

.submitBox .btncancel {
	margin-left: 15px;
	background-color: #f0ad4e;
}

.submitBox .btncancel:hover {
	background-color: #ec971f;
}
/*member registration*/
.dispatch-bottom-content table tbody tr td textarea {
	min-height: 90px;
}