@font-face {
	font-family: NotoSansRegular;
	src: url(NotoSansKR-Regular.otf);
}

@font-face {
	font-family: NotoSansLight;
	src: url(NotoSansKR-Light.otf);
}

@font-face {
	font-family: NotoSansMedium;
	src: url(NotoSansKR-Medium.otf);
}

@font-face {
	font-family: NotoSansBold;
	src: url(NotoSansKR-Bold.otf);
}

@font-face {
	font-family: NotoSansBlack;
	src: url(NotoSansKR-Black.otf);
}

@font-face {
	font-family: NotoSansThin;
	src: url(NotoSansKR-Thin.otf);
}