/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* FONT */
/* @font-face {
    font-family: 'NotoSansRegular';
    src: url(../fonts/NotoSansCJKkr-Regular.otf);
}
@font-face {
    font-family: 'NotoSansLight';
    src: url(../fonts/NotoSansCJKkr-Light.otf);
}
@font-face {
    font-family: 'NotoSansDemiLight';
    src: url(../fonts/NotoSansCJKkr-DemiLight.otf);
}
@font-face {
    font-family: 'NotoSansMedium';
    src: url(../fonts/NotoSansCJKkr-Medium.otf);
}
@font-face {
    font-family: 'NotoSansBold';
    src: url(../fonts/NotoSansCJKkr-Bold.otf);
} */
.roboto {
	font-family: 'Roboto', sans-serif;
}

.roboto-m {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.txt-bold {
	font-weight: 700;
}

.txt-medium {
	font-weight: 500;
}

.txt-light {
	font-weight: 300;
}

.txt-demilight {
	font-family: 'NotoSansDemiLight';
}
/* FONT */
body {
	font-family: 'Noto Sans KR', 'sans-serif';
}

.np {
	padding: 0;
}

.nm {
	margin: 0;
}

.t-cell {
	display: table-cell;
}

.d-table {
	display: table;
}

header {
	line-height: 110px;
	height: 110px;
	width: 720px;
	position: relative;
	border-bottom: 2px solid #eaeaea;
}

header div {
	display: inline-block;
	vertical-align: top;
	height: 110px;
}

header div a {
	display: block;
}

header .search-icon {
	width: 103px;
	padding-left: 40px;
}

header .logo-container {
	margin-left: 117px;
	margin-right: 138px;
}

header .menu-bar {
	width: 84px;
}

header .menu-bar.withsearch {
	width: 161px;
}

header .menu-bar.withsearch a {
	float: left;
	width: 50%;
}

header .page-title {
	font-size: 36px;
	color: #333333;
	padding-left: 23px;
}

header .page-title .red {
	color: #f0625b;
}

.main-logo {
	text-align: center;
	position: relative;
	margin: auto;
	height: 100vh;
	background-color: #ff463c;
}

.main-logo img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.loading {
	text-align: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 100vh;
	background: url(../img/loading.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.loading img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 145px;
	margin: auto;
}

.content-container {
	position: relative;
	width: 720px;
	background-color: white;
	margin: 0 auto;
}

.content-container.withads {
	padding-bottom: 150px;
}

.content-container .view-option {
	border-bottom: 2px solid #eaeaea;
}

.content-container .view-option ul {
	padding: 0;
	text-align: center;
	list-style: none;
	margin: 0;
}

.content-container .view-option ul li {
	display: inline-block;
}

.content-container .view-option ul li:nth-child(2) {
	margin: 0 100px 0;
	position: relative;
}

.content-container .view-option ul li a {
	display: block;
	font-size: 33px;
	color: #333333;
	line-height: 79px;
	position: relative;
	text-decoration: none;
}

.content-container .view-option ul li.txt-bold a {
	font-size: 33px;
	position: relative;
}

.content-container .view-option ul li.txt-bold a:after {
	position: absolute;
	content: '';
	width: 150px;
	height: 6px;
	background-color: #f0625b;
	bottom: 0;
	left: -25%;
	right: -25%;
	margin: auto;
}

.content-container .list-option {
	max-width: 720px;
	overflow: auto;
	background-color: #e7e7e7;
}

.content-container .list-option ul {
	padding: 0;
	margin: 0;
	list-style: none;
	max-width: 720px;
	overflow: auto;
	white-space: nowrap;
}

.content-container .list-option ul li {
	display: inline-block;
	text-align: center;
}

.content-container .list-option ul li a {
	display: block;
	line-height: 90px;
	color: #333333;
	font-size: 30px;
	padding: 0 28px;
	text-decoration: none;
}

.content-container .list-option ul li.active a {
	background-color: #393939;
	color: white;
}

.content-container .recent-recommend {
	background-color: #f2f2f2;
	padding: 15px 0;
}

.content-container .content-box .title {
	background-color: #f2f2f2;
	font-size: 33px;
	display: block;
	position: relative;
	color: #333333;
	text-decoration: none;
	padding: 0 30px;
	line-height: 88px;
	border-bottom: 2px solid #eaeaea;
}

.content-container .content-box .title .sub-info {
	font-size: 24px;
	position: absolute;
	display: block;
	line-height: 1.2;
	top: 0;
	height: 55px;
	bottom: 0;
	margin: auto;
	right: 50px;
	color: #333333;
}

.content-container .content-box .title.withchev {
	background-image: url(../img/chev-right-icon.png);
	background-repeat: no-repeat;
	background-position: center right 40px;
}

.content-container .recent-recommend .recommend-box {
	padding: 0 40px;
	background-color: white;
}

.content-container .recent-recommend .recommend-box .company-box {
	padding: 30px;
	position: relative;
}

.content-container .recent-recommend .recommend-box .company-box:not(:last-of-type)
	{
	border-bottom: 1px solid #eaeaea;
}

.content-container .recent-recommend .recommend-box .company-box span {
	display: block;
}

.content-container .recent-recommend .recommend-box .company-box .name {
	font-size: 30px;
	color: #333333;
}

.content-container .recent-recommend .recommend-box .company-box .sub-info
	{
	font-size: 27px;
	color: #666666;
}

.content-container .recent-recommend .recommend-box .company-box .percent-box
	{
	display: inline-block;
	position: absolute;
	font-size: 39px;
	color: #f0625b;
	right: 40px;
	top: 0;
	bottom: 0;
	margin: auto;
	line-height: 1;
	height: 39px;
}

.content-container .recommended-advisor {
	background-color: white;
}

.content-container .recommended-advisor .advisor-box {
	border-bottom: 1px solid #eaeaea;
	padding: 40px;
}

.content-container .recommended-advisor .advisor-box .info-box {
	display: inline-block;
	vertical-align: top;
	width: 466px;
}

.content-container .recommended-advisor .advisor-box .info-box:first-of-type
	{
	width: 170px;
}

.content-container .recommended-advisor .advisor-box .info-box .imgholder
	{
	display: block;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color: #393939;
	overflow: hidden;
}

.content-container .recommended-advisor .advisor-box .info-box .imgholder img
	{
	width: 130px;
	height: 130px;
}

.content-container .recommended-advisor .advisor-box .info-box>.name {
	font-size: 33px;
	color: #333333;
}

.content-container .recommended-advisor .advisor-box .info-box .tags span
	{
	line-height: 36px;
	background-color: #f7894d;
	padding: 0 13px;
	font-size: 21px;
	display: inline-block;
	margin-right: 6px;
	border-radius: 3px;
	color: white;
	text-align: center;
}

.content-container .recommended-advisor .advisor-box .info-box .recent-box
	{
	position: relative;
	margin-top: 10px;
}

.content-container .recommended-advisor .advisor-box .info-box .recent-box span
	{
	display: block;
	line-height: 1;
}

.content-container .recommended-advisor .advisor-box .info-box .recent-box .recent
	{
	font-size: 21px;
	color: #666666;
	margin-bottom: 5px;
}

.content-container .recommended-advisor .advisor-box .info-box .recent-box .name
	{
	font-size: 33px;
	color: #393939;
}

.content-container .recommended-advisor .advisor-box .info-box .recent-box  .percent
	{
	font-size: 39px;
	color: #f0625b;
	position: absolute;
	bottom: 0;
	right: 0;
}

.content-container header .search-container {
	width: 495px;
}

.content-container header .search-container input {
	line-height: 108px;
	font-size: 32px;
	width: 100%;
	color: #f0625b;
	outline: none;
	border: 0;
	background: transparent;
}

.content-container header .search-container input::-webkit-input-placeholder
	{
	color: #eaeaea;
}

.content-container header .search-container input::-moz-input-placeholder
	{
	color: #eaeaea;
}

.content-container header .search-container input::placeholder {
	color: #eaeaea;
}

.content-container header .cancel a {
	padding-left: 23px;
	display: block;
	position: relative;
	font-size: 32px;
	text-decoration: none;
	color: #333333;
}

.content-container header .save a {
	padding-left: 0;
	display: block;
	position: relative;
	right: 40px;
	font-size: 32px;
	text-decoration: none;
	color: #333333;
}

.content-container header .cancel a:before {
	position: absolute;
	content: '';
	width: 2px;
	height: 36px;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	background-color: #333333;
}

.content-container .recent-searches .head {
	line-height: 89px;
	border-bottom: 1px solid #eaeaea;
	position: relative;
	padding: 0 40px;
}

.content-container .recent-searches .head span {
	font-size: 33px;
	color: #333333;
	position: relative;
}

.content-container .recent-searches .head .delete-all {
	float: right;
	position: relative;
	display: block;
	color: #f0625b;
	text-decoration: none;
	font-size: 30px;
	right: 63px;
}

.content-container .recent-searches .icon-box {
	display: none;
}

.content-container .recent-searches .foricon {
	position: relative;
}

.content-container .recent-searches .icon-box, .content-box .heart {
	position: absolute;
	right: 40px;
	width: 40px;
	top: -9px;
	bottom: 0;
	z-index: 99;
	margin: auto;
	height: 40px;
}

.content-container .recent-searches .icon-box.heart, .content-box .heart,
	.heart {
	width: 47px;
	height: 42px;
}

.content-container .recent-searches .foricon .delete {
	background: url(../img/delete-x-icon.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
}

.content-container .recent-searches .foricon .heart, .content-box .heart,
	.heart {
	background: url(../img/heart-o-icon.png);
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
}

.content-container .recent-searches .foricon .heart.heart-full,
	.content-box .heart.heart-full, .heart.heart-full {
	background: url(../img/heart-icon.png);
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
}

.content-container .recent-searches .searches {
	padding: 0 40px;
}

.content-container .recent-searches .searches .search-box {
	border-bottom: 1px solid #eaeaea;
}

.content-container .recent-searches .searches .search-box .icon-box {
	right: 0;
}

.content-container .recent-searches .searches .search-box .search {
	display: block;
	font-size: 30px;
	max-width: 600px;
	display: block;
	text-decoration: none;
	line-height: 124px;
	color: #333333;
	padding-left: 8px;
}

.content-container .recent-searches .searches .search-box .search.withbar
	{
	padding-left: 71px;
	background-image: url(../img/bar2-icon.png);
	background-position: left top 50px;
	background-repeat: no-repeat;
}

.content-container .search-result {
	padding-top: 15px;
	background-color: #f2f2f2;
}

.content-container .search-result .news-container {
	background-color: white;
}

.content-container .search-result .news-container .news-box {
	padding: 0 40px;
	border-bottom: 2px solid #eaeaea;
}

.content-container .search-result .news-container .news-box .news-info {
	float: left;
	vertical-align: top;
	padding: 35px 0;
}

.content-container .search-result .news-container .news-box .news-info img
	{
	width: 132px;
	height: 132px;
	margin-right: 30px;
	float: left;
	position: relative;
	top: 8px;
	border-radius: 8px;
}

.content-container .search-result .news-container .news-box .news-info .news-content
	{
	float: left;
	width: 470px;
}

.content-container .search-result .news-container .news-box .news-info .news-content.noimg
	{
	width: auto;
}

.content-container .search-result .news-container .news-box .news-info .news-title
	{
	font-size: 33px;
	color: #333333;
	display: block;
	word-break: keep-all;
	letter-spacing: -2px;
}

.content-container .search-result .news-container .news-box .news-info .category-box
	{
	margin-top: 18px;
}

.content-container .search-result .news-container .news-box .news-info .category-box span
	{
	display: inline-block;
	font-size: 24px;
	color: #666666;
	margin-right: 15px;
	position: relative;
}

.content-container .search-result .news-container .news-box .news-info .category-box span:first-child:after
	{
	position: absolute;
	content: '';
	width: 1px;
	height: 17px;
	top: 0;
	bottom: 0;
	margin: auto;
	right: -10px;
	background-color: #666666;
}

.no-result .notfound {
	background-color: white;
	text-align: center;
	margin-top: 200px;
}

.no-result .notfound span {
	display: block;
	font-size: 33px;
	color: #333333;
	margin-bottom: 60px;
}

/* menu page */
.menu-container {
	padding: 10px 40px;
}

.menu-container .img-holder {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: #333;
	overflow: hidden;
	margin-bottom: 32px;
	display: inline-block;
	vertical-align: middle;
}

.menu-container .img-holder img {
	width: 120px;
	height: 120px;
}

.menu-container .qoute-emotion-holder {
	display: inline-block;
	vertical-align: middle;
	padding-left: 30px;
}

.menu-container .qoute-emotion-holder span {
	display: block;
	font-size: 45px;
	color: white;
	margin-bottom: 10px;
	line-height: 1;
}

.menu-container .clearfix {
	position: relative;
	margin-top: 51px;
	padding-bottom: 70px;
}

.menu-container .clearfix a {
	display: block;
	color: white;
	position: relative;
	text-decoration: none;
}

.menu-container .clearfix .label-text {
	font-size: 30px;
	display: block;
	color: white;
	line-height: 1;
}

.menu-container .clearfix a .points {
	display: block;
	font-size: 90px;
	position: relative;
}

.menu-container .clearfix a .points:after {
	position: relative;
	content: 'P';
	font-size: 39px;
	right: 95px;
}

.menu-container .clearfix a img {
	margin-left: 35px;
	position: relative;
	top: 9px;
}

.menu-container .clearfix .log-out {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	font-size: 30px;
	bottom: 0;
	margin: auto;
	height: 30px;
}

.menu-container .kakao {
	display: block;
	margin-top: 85px;
	margin-bottom: 125px;
	color: #3a1e1b;
	background-color: #ffea0f;
	line-height: 100px;
	font-size: 33px;
	padding-left: 223px;
	background-image: url(../img/comment-2-icon.png);
	background-repeat: no-repeat;
	background-position: center left 61px;
}

.divider {
	height: 15px;
	width: 100%;
	background-color: #f2f2f2;
}

.divider-3x {
	height: 45px;
	width: 100%;
	background-color: #f2f2f2;
}

.main-menu-container .menu-link {
	position: relative;
	float: left;
	width: 240px;
	display: block;
	text-align: center;
	max-height: 253px;
	text-decoration: none;
	padding: 72px 0;
	border-bottom: 2px solid #eaeaea;
	border-right: 2px solid #eaeaea;
}

.main-menu-container .menu-link .notif {
	position: absolute;
	left: 45px;
	right: 0px;
	top: -5px;
	bottom: 90px;
	margin: auto;
	height: 39px;
	line-height: 39px;
	width: 39px;
	border-radius: 50%;
	display: block;
	font-size: 27px;
	color: white;
	text-align: center;
	background-color: #ff463c;
}

.main-menu-container .menu-link:nth-child(3n) {
	border-right: 0;
}

.main-menu-container .menu-link img {
	max-height: 45px;
}

.main-menu-container .menu-link .text {
	font-size: 30px;
	color: #333333;
	text-align: center;
	display: block;
	margin-top: 20px;
}
/* menu page */

/* support page */
.support-option .option {
	display: block;
	float: left;
	font-size: 30px;
	width: 240px;
	border-bottom: 2px solid #eaeaea;
	border-right: 2px solid #eaeaea;
	line-height: 88px;
	text-align: center;
	color: #333333;
}

.support-option .option:nth-child(3n) {
	border-right: 0;
}

.support-option .option.active {
	color: #f0625b;
}

a {
	text-decoration: none !important;
}

.support-container ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.support-container ul li {
	border-bottom: 2px solid #eaeaea;
}

.support-container a {
	display: block;
	line-height: 88px;
	padding: 0 40px;
	letter-spacing: -2px;
	text-decoration: none;
	font-size: 33px;
	color: #333333;
	background-image: url(../img/chev-right-icon.png);
	background-repeat: no-repeat;
	background-position: center right 40px;
}

.support-container a:visited {
	text-decoration: none;
}

.hours-box {
	padding: 32px 40px;
}

.hours-box .clearfix a {
	width: 312px;
	line-height: 90px;
	background-color: white;
	display: block;
	font-size: 30px;
	text-decoration: none;
	color: #333333;
	border-radius: 5px;
	border-bottom: 2px solid solid #eaeaea;
}

.hours-box .clearfix a:first-child {
	padding-left: 100px;
	background-image: url(../img/comment-icon.png);
	background-position: center left 40px;
	background-repeat: no-repeat;
}

.hours-box .clearfix a:last-child {
	padding-left: 125px;
	background-image: url(../img/phone-icon.png);
	background-position: center left 67px;;
	background-repeat: no-repeat;
}

.hours-box .note {
	font-size: 30px;
	display: block;
	text-align: center;
	color: #999999;
	margin-top: 22px;
	letter-spacing: -2px;
}

.support-content {
	padding: 48px 40px;
}

.support-content .title {
	display: block;
	font-size: 36px;
	color: #333333;
	letter-spacing: -2px;
}

.support-content .content {
	color: #333333;
	font-size: 30px;
	margin-top: 51px;
}
/* support page */

/* purchase history page */
.items-box .title {
	display: block;
	padding: 0 40px;
	line-height: 88px;
	color: #333333;
	border-bottom: 2px solid #eaeaea;
	font-size: 33px;
}

.products-use .products {
	padding: 0 40px;
}

.products-use .product-box {
	padding: 31px 0;
	display: block;
	text-decoration: none;
	color: #333333;
	border-bottom: 2px solid #eaeaea;
	background-image: url(../img/chev-right-2-icon.png);
	background-repeat: no-repeat;
	background-position: center right;
}

.products-use .product-box .img-holder {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background: #999999;
	overflow: hidden;
	vertical-align: middle;
	margin-right: 25px;
	display: inline-block;
}

.products-use .product-box .product-info {
	display: inline-block;
	vertical-align: middle;
}

.products-use .product-box .product-info span {
	display: block;
	color: #333333;
}

.products-use .product-box .product-info span.red {
	color: #ff463c;
	display: inline-block;
}

.products-use .product-box .product-info .name {
	font-size: 33px;
}

.products-use .product-box .product-info .availability {
	font-size: 27px;
	color: #999999;
}

.expired-items .item {
	position: relative;
	padding: 29px 40px;
	margin-left: 8px;
	border-bottom: 2px solid #eaeaea;
}

.expired-items .item  span {
	display: block;
	color: #333333;
}

.expired-items .item  span.red {
	color: #ff463c;
	display: inline-block;
}

.expired-items .item  .name {
	font-size: 33px;
}

.expired-items .item .expiration {
	font-size: 27px;
	color: #999999;
}

.expired-items .item .btn-repurchase {
	display: block;
	width: 180px;
	height: 72px;
	line-height: 72px;
	color: white;
	float: right;
	font-size: 27px;
	text-align: center;
	background-color: #ff463c;
	position: absolute;
	top: 0;
	bottom: 0;
	height: 72px;
	margin: auto;
	right: 40px;
}

.no-products {
	padding: 200px 40px;
	text-align: center;
}

.no-products .text {
	display: block;
	font-size: 33px;
	color: #333333;
}

.no-products img {
	margin: 64px 0 70px;
}

.no-products .btn-buyproducts {
	display: block;
	line-height: 100px;
	font-size: 33px;
	color: white;
	text-decoration: none;
	background-color: #d63b32;
	text-align: center;
}
/* purchase history page */

/* notification list page */
.notification-list {
	padding: 0 40px;
}

.notification-list .notification {
	padding: 30px 0;
	display: table;
	border-bottom: 2px solid #eaeaea;
}

.notification-list .notification .img-box-holder {
	display: table-cell;
	width: 104px;
}

.notification-list .notification .img-box-holder .img-holder {
	width: 63px;
	height: 63px;
	background-color: #333333;
	border-radius: 50%;
	display: block;
	margin-left: 10px;
	vertical-align: top;
}

.notification-list .notification .notification-info {
	display: table-cell;
	vertical-align: top;
	width: auto;
}

.notification-list .notification .notification-info.gray .name {
	color: #999999;
}

.notification-list .notification .notification-info span {
	color: #333333;
}

.notification-list .notification .notification-info .name .red {
	color: #ff463c;
}

.notification-list .notification .notification-info .name .gray {
	color: #999999;
}

.notification-list .notification .notification-info .name {
	font-size: 33px;
	letter-spacing: -1px;
}

.notification-list .notification .notification-info .notify {
	font-size: 27px;
	display: block;
	color: #999999;
}
/* notification list page */

/* nofication page */
.notification-settings .notif-box {
	padding: 0 30px;
	position: relative;
	border-bottom: 2px solid #eaeaea;
}

.notification-settings .notif-box.pl22 {
	padding-left: 65px;
}

.notification-settings .notif-box .notif {
	line-height: 90px;
	display: block;
	font-size: 33px;
	color: #333333;
}

.notification-settings .notif-box .track-holder {
	position: absolute;
	right: 40px;
	width: 102px;
	height: 62px;
	border-radius: 30px;
	top: 0;
	overflow: hidden;
	bottom: 0;
	margin: auto;
}

.notification-settings .notif-box .track-holder label {
	background-color: #f2f2f2;
	position: relative;
	border-radius: 30px;
	border: 3px solid #eaeaea;
	display: block;
	width: 100%;
	height: 100%;
}

.notification-settings .notif-box .track-holder label:before {
	width: 15px;
	height: 15px;
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 17px;
	border: 3px solid white;
	border-radius: 50%;
	margin: auto;
	display: none;
}

.notification-settings .notif-box .track-holder label:after {
	position: absolute;
	content: '';
	border-radius: 50%;
	left: 0;
	width: 56px;
	height: 56px;
	top: 0;
	bottom: 0;
	border: 1px solid #bdbdbd;
	margin: auto;
	background-color: white;
	transition: left .5s ease;
}

.notification-settings .notif-box .track-holder input:checked+label {
	background-color: #4cd964;
	border-color: #4cd964;
}

.notification-settings .notif-box .track-holder input:checked+label:before
	{
	display: block;
}

.notification-settings .notif-box .track-holder input:checked+label:after
	{
	left: 41px;
	transition: left .5s ease;
}
/* nofication page */

/* payment page */
.primary-goal-items {
	padding: 0 40px;
}

.primary-goal-items .item {
	position: relative;
	display: table;
	padding: 30px 0;
	border-bottom: 2px solid #eaeaea;
}

.primary-goal-items .item div {
	display: table-cell;
	vertical-align: middle;
}

.primary-goal-items .item .img-holder-box {
	width: 104px;
}

.primary-goal-items .item .img-holder-box .img-holder {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background: transparent;
	display: block;
	margin-left: 9px;
}

.primary-goal-items .item .ticket {
	width: 354px;
}

.primary-goal-items .item .ticket span {
	display: block;
	font-size: 33px;
	color: #ff463c;
}

.primary-goal-items .item .btn-price {
	display: table-cell;
	line-height: 72px;
	color: white;
	font-size: 27px;
	text-align: center;
	background: #ff463c;
	width: 180px;
	border-radius: 3px;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
}
/* payment page */

/* event page */
.event-item {
	display: block;
	padding-top: 12px;
	background-color: #f2f2f2;
	border-bottom: 2px solid #eaeaea;
}

.event-item .event-img {
	width: 100%;
	height: 210px;
}

.event-item .event-info {
	padding: 25px 40px;
	position: relative;
	background-color: white;
}

.event-item .event-info span {
	display: block;
}

.event-item .event-info .event-name {
	font-size: 33px;
	color: #333333;
}

.event-item .event-info .event-date {
	font-size: 27px;
	color: #999999;
}

.event-item .event-info .proceeding {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 36px;
	right: 40px;
	float: right;
	width: 95px;
	line-height: 36px;
	color: white;
	text-decoration: none;
	border-radius: 3px;
	text-align: center;
	font-size: 21px;
	display: block;
	background: #f7894d;
}

.addnew {
	position: fixed;
	bottom: 30px;
	right: 20px;
	width: 150px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	background-color: #ff463c;
	border-radius: 50%;
	z-index: 99;
	display: block;
}

.event-content {
	padding: 30px 40px;
}

.event-content .event-title {
	font-size: 36px;
	color: #333333;
	display: block;
}

.event-content .event-date {
	font-size: 27px;
	color: #999999;
	display: block;
}

.event-content .proceeding {
	width: 95px;
	line-height: 36px;
	color: white;
	text-decoration: none;
	border-radius: 3px;
	text-align: center;
	font-size: 21px;
	display: block;
	background: #f7894d;
	margin: 40px 0 50px;
}

.event-content .event-body {
	font-size: 30px;
	color: #333333;
	word-break: keep-all;
	margin-top: 53px;
}
/* event page */

/* interest page */
.interest-page {
	padding-bottom: 120px;
}

.sort-edit {
	padding: 0 40px;
	text-align: right;
	border-bottom: 2px solid #eaeaea;
}

.check-items-holder {
	border-bottom: 2px solid #eaeaea;
}

.check-items-holder .check-items {
	text-align: center;
	padding: 45px 0 0;
	background-color: #f2f2f2;
}

.check-items-holder .check-items p {
	font-size: 30px;
	color: #333333;
	margin: 13px 0;
}

.check-items-holder .items-recommended {
	padding: 0 40px;
}

.check-items-holder .items-recommended .item {
	padding-bottom: 35px;
}

.check-items-holder .items-recommended .item:not(:last-child) {
	border-bottom: 2px solid #eaeaea;
}

.check-items-holder .items-recommended .item .interest-item.ribboned {
	background: url(../img/ribbon-violet.png);
	background-repeat: no-repeat;
	background-position: top left;
	border-bottom: 0;
}

.check-items-holder .items-recommended .item .line-holder {
	height: 9px;
	position: relative;
}

.check-items-holder .items-recommended .item .line-holder:before {
	position: absolute;
	content: '';
	width: 3px;
	height: 23px;
	background-color: #c3c3c3;
	left: 120px;
	bottom: 0;
	z-index: 99;
}

.check-items-holder .items-recommended .item .line-holder .color-box {
	float: left;
}

.check-items-holder .items-recommended .item .line-holder .blue {
	position: relative;
	width: 120px;
	display: block;
	height: 9px;
	float: left;
	background-color: #ddd7ff;
}

.check-items-holder .items-recommended .item .line-holder .blue span {
	background-color: #6f4df3;
	margin-left: auto;
}

.check-items-holder .items-recommended .item .line-holder .blue:before {
	position: absolute;
	content: '';
	width: 1px;
	height: 1px;
	border: 15px solid transparent;
	border-top-color: #6f4df3;
	top: -20px;
}

.check-items-holder .items-recommended .item .line-holder .red {
	position: relative;
	width: 520px;
	overflow: hidden;
	height: 9px;
	float: left;
	background-color: #ffd9d7;
}

.check-items-holder .items-recommended .item .line-holder .red span {
	background-color: #ff463c;
}

.check-items-holder .items-recommended .item .line-holder .red:after {
	position: absolute;
	content: '';
	width: 1px;
	height: 1px;
	border: 15px solid transparent;
	border-bottom-color: #ff463c;
	top: -35px;
	right: 0;
}

.check-items-holder .items-recommended .item .line-holder .color-box span
	{
	display: none;
	width: 0;
	z-index: 10;
	height: 9px;
	position: relative;
}

.check-items-holder .items-recommended .item .line-holder .blue span:before
	{
	position: absolute;
	content: '';
	border: 4px solid transparent;
	border-right-color: #6f4df3;
	left: -8px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.check-items-holder .items-recommended .item .line-holder .red span:before
	{
	position: absolute;
	content: '';
	border: 4px solid transparent;
	border-left-color: #ff463c;
	right: -8px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.check-items-holder .items-recommended .item .line-holder .color-box.active span
	{
	display: block;
}

.check-items-holder .items-recommended .item .goal-box {
	margin-top: 20px;
}

.check-items-holder .items-recommended .item .goal-box .goal-content {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}

.check-items-holder .items-recommended .item .goal-box .goal-content span
	{
	display: block;
}

.check-items-holder .items-recommended .item .goal-box .goal-content .goal
	{
	font-size: 27px;
	color: #5e6063;
}

.check-items-holder .items-recommended .item .goal-box .goal-content .goal.red
	{
	color: #ff463c;
	border-bottom: 2px solid #ff463c;
	display: inline-block;
}

.check-items-holder .items-recommended .item .goal-box .goal-content .date
	{
	font-size: 27px;
	color: #999999;
}

.check-items-holder .items-recommended .item .goal-box .goal-content.left
	{
	margin-left: 0;
}

.check-items-holder .items-recommended .item .goal-box .right.goal-content
	{
	margin-left: -4px;
}

.sort-edit a {
	font-size: 30px;
	display: inline-block;
	vertical-align: middle;
	color: #333333;
	line-height: 90px;
}

.sort-edit a:nth-child(2) {
	font-size: 20px;
	position: relative;
	top: -3px;
	margin: 0 29px;
}

.interest-list {
	padding: 0 40px;
}

.interest-item {
	display: table;
	position: relative;
	padding: 45px 0 30px;
	border-bottom: 2px solid #eaeaea;
}

.bell-holder .bell {
	display: block;
	height: 46px;
	width: 42px;
	background-image: url(../img/bell2-icon.png);
	background-repeat: no-repeat;
}

.bell-holder .bell.bell-full {
	background-image: url(../img/bellfull-icon.png);
	background-repeat: no-repeat;
}

.interest-item div {
	display: table-cell;
	vertical-align: middle;
}

.interest-item .interest-info {
	width: 275px;
}

.interest-item .interest-info .name {
	display: block;
	font-size: 30px;
	color: #333333;
}

.interest-item .interest-info .info {
	font-size: 27px;
	color: #666666;
}

.interest-item .interest-info .info span {
	display: inline-block;
}

.interest-item .interest-info .info .red {
	color: #f0625b;
}

.interest-item .interest-info .info .blue {
	color: #5ab4f0;
}

.interest-item>.value {
	font-size: 39px;
	width: 180px;
	text-align: right;
}

.interest-item>.value.blue {
	color: #5ab4f0;
}

.interest-item>.value.red {
	color: #f0625b;
}

.interest-item .percent-value {
	text-align: right;
	width: auto;
	width: 150px;
}

.interest-item .percent-value span {
	display: block;
	font-size: 27px;
	font-family: 'Roboto', sans-serif;
}

.interest-item .percent-value.blue span {
	color: #5ab4f0;
}

.interest-item .percent-value.red span {
	color: #f0625b;
}

.interest-item .bell-holder {
	width: 40px;
	position: relative;
	right: -20PX;
}

.forads {
	z-index: 99;
	position: fixed;
	bottom: 0;
	width: 720px;
	margin: 0 auto;
}

.forads .area-box {
	display: none;
}

.forads .sz-2 {
	height: 138px;
}

.forads .goal-box {
	height: 100px;
	display: table;
	display: none;
}

.forads .area-box.active {
	display: block;
}

.forads .goal-box.final span {
	display: block;
	text-align: center;
	color: white;
	line-height: 100px;
	background-color: #333333;
	font-size: 33px;
}

.forads .goal-box div {
	display: table-cell;
	vertical-align: middle;
	height: 100px;
}

.forads .goal-box .area-left {
	width: 240px;
	background-color: #333333;
	text-align: center;
}

.forads .goal-box .area-right {
	background-color: #666666;
	text-align: center;
	width: 480px;
}

.forads .goal-box .area-right.red {
	background-color: #ff463c;
}

.forads .goal-box div span {
	display: block;
	color: #fff;
}

.forads .goal-box .area-left span {
	font-size: 27px;
}

.forads .goal-box .area-right span {
	font-size: 33px;
}

.forads img {
	width: 100%;
}

.for-sort {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: -1;
}

.for-sort.active {
	display: block;
	opacity: 1;
	z-index: 1;
}

.for-sort .sort-option {
	position: absolute;
	bottom: 0;
	background-color: #fafafa;
	width: 100%;
	height: 0;
	transition: height .35s ease-in-out;
}

.for-sort.active .sort-option {
	height: 420px;
	transition: height .35s ease-in-out;
}

.for-sort .sort-option ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.for-sort .sort-option ul li {
	padding: 0 40px;
}

.for-sort .sort-option ul li a {
	display: block;
	line-height: 84px;
	padding-left: 108px;
	font-size: 30px;
	color: #333333;
	text-decoration: none;
}

.for-sort .sort-option ul li a.checked {
	background: url(../img/check-icon.png);
	background-repeat: no-repeat;
	background-position: center left;
}
/* interest page */

/* research page */
.news-market-analysis ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.news-market-analysis ul li {
	float: left;
	width: 240px;
}

.news-market-analysis ul li {
	border-bottom: 2px solid #eaeaea;
}

.news-market-analysis ul li:not(:last-child) {
	border-right: 2px solid #eaeaea;
}

.news-market-analysis ul li a {
	display: block;
	font-size: 30px;
	text-align: center;
	line-height: 89px;
	color: #333333;
}

.news-market-analysis ul li.active a {
	color: #f0625b;
}

.view-category {
	position: relative;
	border-bottom: 2px solid #eaeaea;
}

.view-category .plus {
	position: absolute;
	right: 0;
	width: 81px;
	line-height: 81px;
	text-align: center;
	background-color: white;
	border-left: 2px solid #eaeaea;
}

.view-category .cactegory-list-container {
	max-width: 720px;
	white-space: nowrap;
	overflow: auto;
	white-space: nowrap;
}

.view-category ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 720px;
	white-space: nowrap;
	overflow: auto;
	padding: 0 30px;
	padding-right: 111px;
}

.view-category ul li {
	/* float: left; */
	display: inline-block;
	padding: 10px 0 11px;
}

.view-category ul li a {
	display: block;
	width: 115px;
	line-height: 60px;
	text-align: center;
	text-decoration: none;
	border-radius: 30px;
	font-size: 30px;
	color: #333333;
}

.view-category ul li.selected a {
	background-color: #ff463c;
	color: white;
}
/* research page */

/* market page */
.market-list .market-item {
	display: block;
	padding: 33px 40px 30px;
	border-bottom: 2px solid #eaeaea;
}

.market-list .market-item .condition {
	font-size: 33px;
	color: #333333;
	display: block;
}

.market-list .market-item .date {
	font-size: 27px;
	color: #666666;
	display: block;
}

.market-content {
	padding: 33px 40px;
}

.market-content .market-title {
	font-size: 33px;
	color: #333333;
	display: block;
}

.market-content .market-date {
	font-size: 27px;
	color: #666666;
	display: block;
}

.market-content p {
	margin-top: 30px;
	font-size: 30px;
	color: #333333;
}
/* market page */

/* company page */
.company-name {
	padding: 0 40px;
	margin-top: 40px;
	position: relative;
}

.company-name .name {
	font-size: 39px;
	color: #333333;
}

.company-name .heart {
	position: absolute;
	top: 0;
	right: 40px;
	bottom: 0;
	margin: auto;
	width: 47px;
	height: 42px;
	background: url(../img/heart-o-icon.png);
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
}

.company-name .heart.heart.heart-full {
	background: url(../img/heart-icon.png);
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
}

.company-views {
	margin-top: 35px;
	white-space: nowrap;
	overflow: auto;
	padding-bottom: 6px;
}

.company-views ul {
	padding: 0;
	list-style: none;
	margin: 0;
	padding: 0 20px;
	border-bottom: 2px solid #eaeaea;
}

.company-views ul li {
	display: inline-block;
}

.company-views ul li a {
	display: block;
	position: relative;
	padding: 15px 20px;
	text-align: center;
	font-size: 30px;
	color: #333333;
}

.company-views ul li.active a {
	font-weight: 800;
}

.company-views ul li.active a:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 6px;
	background: #f0625b;
	left: 0;
	bottom: 0;
}

.view-all {
	text-align: right;
	padding: 30px 40px;
}

.view-all a {
	display: inline-block;
	font-size: 27px;
	color: #f0625b;
	border-bottom: 1px solid #f0625b;
}

.view-details {
	padding: 0 40px;
	border-bottom: 2px solid #eaeaea;
}

.view-details.bottom {
	border-bottom: 0;
}

.detail-box {
	margin-top: 25px;
}

.view-details.bottom .detail-box {
	margin-top: 0;
}

.view-details.bottom .detail-box .other-info {
	border-bottom: 2px solid #eaeaea;
}

.detail-box .price {
	display: block;
	font-size: 24px;
	color: #333333;
}

.detail-box .price-info-box {
	position: relative;
	padding-bottom: 63px;
	border-bottom: 2px solid #eaeaea;
}

.detail-box .price-info-box .price-val {
	font-size: 60px;
	color: #f0625b;
	display: block;
}

.detail-box .price-info-box .percent-value {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.detail-box .price-info-box .percent-value span {
	display: block;
	font-size: 30px;
	color: #f0625b;
}

.d-table {
	width: 100%;
}

.detail-box .other-info:not(:last-of-type) {
	border-bottom: 2px solid #eaeaea;
}

.d-table .t-cell {
	width: 50%;
	padding: 30px 0 22px;
}

.detail-box .t-cell .label-text {
	font-size: 24px;
	color: #999999;
	padding: 5px 0;
}

.detail-box .left .value {
	padding-right: 38px;
}

.detail-box .left {
	border-right: 1px solid #eaeaea;
}

.detail-box .right {
	border-left: 1px solid #eaeaea;
}

.detail-box .right .label-text {
	padding-left: 40px;
}

.detail-box .t-cell .value {
	font-size: 33px;
	color: #333333;
}

.detail-box .t-cell .value .sub {
	font-size: 24px;
}

.detail-box  span {
	display: inline-block;
	margin-left: -4px;
	vertical-align: top;
	width: 50%;
}

.detail-box .value {
	letter-spacing: -1px;
	text-align: right;
}

.detail-box  .value .sub {
	display: block;
	width: 100%;
	text-align: right;
	margin: 0;
}

.companynews-container .search-result {
	padding: 0;
	background: white;
}

.ticker-notifications {
	border-bottom: 2px solid #eaeaea;
}

.ticker-notifications .detail-box .price-info-box {
	border: none;
}

.add-ticker-container .add-ticker {
	padding: 20px 40px;
	border-bottom: 2px solid #eaeaea;
}

.add-ticker-container .add-ticker .ticker {
	display: inline-block;
}

.add-ticker-container .add-ticker .ticker span {
	font-size: 33px;
	color: #333333;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.add-ticker-container .add-ticker .ticker img {
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 3px;
}

.add-ticker-container .add-ticker .note {
	display: inline-block;
	vertical-align: middle;
}

.add-ticker-container .add-ticker .note span {
	font-size: 24px;
	margin-left: 20px;
	color: #666666;
	display: block;
}

.add-ticker-container .number-sheets {
	padding: 36px 40px 20px;
	border-bottom: 2px solid #eaeaea;
}

.add-ticker-container .number-sheets .label-input {
	display: inline-block;
	vertical-align: middle;
}

.add-ticker-container .number-sheets .checker {
	display: inline-block;
	margin-left: 25px;
	vertical-align: middle;
}

.add-ticker-container .number-sheets span {
	display: block;
	font-size: 27px;
	color: #333333;
}

.add-ticker-container .number-sheets .head {
	margin-bottom: 25px;
}

.add-ticker-container .number-sheets input {
	width: 440px;
	height: 90px;
	outline: none;
	font-size: 33px;
	padding: 0 30px;
	outline: none;
	border: 2px solid #eaeaea;
}

.add-ticker-container .number-sheets input::-moz-placeholder {
	color: #eaeaea;
}

.add-ticker-container .number-sheets input::-webkit-placeholder {
	color: #eaeaea;
}

.add-ticker-container .number-sheets input::placeholder {
	color: #eaeaea;
}

.add-ticker-container .number-sheets .checker span {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}

.add-ticker-container .number-sheets .checker img {
	display: inline-block;
	vertical-align: middle;
}

.add-ticker-container .assigned-setting {
	padding: 36px 40px 31px;
}

.add-ticker-container .assigned-setting .title {
	font-size: 27px;
	color: #333333;
	margin-bottom: 25px;
	display: block;
}

.add-ticker-container .assigned-setting select {
	background-color: white;
	height: 90px;
	width: 100%;
	border: 2px solid #bfbfbf;
	padding-left: 31px;
	outline: none;
	font-size: 33px;
	-webkit-appearance: none;
	appearance: none;
	background: url(../img/select-icon.png);
	background-repeat: no-repeat;
	background-position: center right 33px;
}

.add-ticker-container .assigned-setting select::-ms-expand {
	display: none;
}

.add-ticker-container .assigned-setting .direct-input {
	margin-top: 16px;
}

.add-ticker-container .assigned-setting .direct-input input {
	width: 436px;
	display: inline-block;
	vertical-align: top;
	height: 86px;
	outline: none;
	border: 2px solid #f0625b;
	color: #f0625b;
	padding: 0 29px;
	font-size: 33px;
}

.add-ticker-container .assigned-setting .direct-input input::-moz-placeholder
	{
	color: #eaeaea;
}

.add-ticker-container .assigned-setting .direct-input  input::-webkit-placeholder
	{
	color: #eaeaea;
}

.add-ticker-container .assigned-setting .direct-input input::placeholder
	{
	color: #eaeaea;
}

.add-ticker-container .assigned-setting .add-minus-box {
	display: inline-block;
	vertical-align: top;
	margin-left: 13px;
}

.add-ticker-container .assigned-setting .add-minus-box a {
	display: inline-block;
	border: 2px solid #bfbfbf;
	width: 86px;
	text-decoration: none;
	height: 86px;
	position: relative;
}

.add-ticker-container .assigned-setting .add-minus-box a:first-child {
	background-color: #f2f2f2;
	margin-right: 10px;
}

.add-ticker-container .assigned-setting .add-minus-box a:first-child:before
	{
	position: absolute;
	content: '';
	width: 32px;
	height: 4px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #333333;
	margin: auto;
}

.add-ticker-container .assigned-setting .add-minus-box a:last-child {
	background-color: #999999;
}

.add-ticker-container .assigned-setting .add-minus-box a:last-child:before
	{
	position: absolute;
	content: '';
	width: 32px;
	height: 4px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #333333;
	margin: auto;
}

.add-ticker-container .assigned-setting .add-minus-box a:last-child:after
	{
	position: absolute;
	content: '';
	width: 4px;
	height: 32px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #333333;
	margin: auto;
}

.add-ticker-container .assigned-setting .direct-input .btn-addnotif {
	display: block;
	text-decoration: none;
	background-color: #ff463c;
	font-size: 33px;
	color: #fff;
	height: 90px;
	text-align: center;
	line-height: 90px;
	margin-top: 21px;
}

.add-ticker-container .ticker-list-container .ticker-list {
	padding: 0 40px;
}

.add-ticker-container .ticker-list-container .ticker-list .ticker-item {
	padding: 30px 10px 27px;
	border-bottom: 2px solid #eaeaea;
	position: relative;
}

.add-ticker-container .ticker-list-container .ticker-list .ticker-item span
	{
	font-size: 30px;
	color: #333333;
}

.add-ticker-container .ticker-list-container .ticker-list .ticker-item .delete
	{
	position: absolute;
	right: 0;
	width: 40px;
	top: -0;
	bottom: 0;
	z-index: 99;
	margin: auto;
	height: 40px;
	background: url(../img/delete-x-icon.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
}
/* company page */

/* keywords page */
.keywords-box {
	padding: 20px 30px 0;
	border-bottom: 2px solid #eaeaea;
}

.keywords-box ul {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-left: -9px;
	margin-right: -9px;
	margin-bottom: 73px;
}

.keywords-box ul li {
	position: relative;
	display: inline-block;
	margin-left: 9px;
	margin-right: 9px;
	margin-bottom: 20px;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.keywords-box ul li a {
	display: block;
	float: left;
	padding: 0 55px 0 20px;
	min-width: 146px;
	border-radius: 30px;
	border: 2px solid #f0625b;
	color: #333333;
	font-size: 30px;
	line-height: 56px;
	background-image: url(../img/remove-icon.png);
	background-repeat: no-repeat;
	background-position: center right 15px;
}

.keywords-box .input-box {
	margin-top: 45px;
}

.keywords-box .input-box input {
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 33px;
	color: #f0625b;
	border: 0;
	outline: none;
	border-bottom: 2px solid #eaeaea;
}

.keywords-box .input-box input::-moz-placeholder {
	color: #eaeaea;
}

.keywords-box .input-box input::-webkit-placeholder {
	color: #eaeaea;
}

.keywords-box .input-box input::placeholder {
	color: #eaeaea;
}

.keywords-box .input-box .note {
	font-size: 24px;
	color: #666666;
	margin: 21px 0 23px;
	display: block;
}

.btn-holder {
	padding-top: 24px;
	background: #f2f2f2;
	padding: 24px 40px;
}

.btn-holder a {
	font-size: 33px;
	color: white;
	background-color: #ff463c;
	line-height: 100px;
	text-align: center;
	text-decoration: none;
	display: block;
}
/* keywords page */

/* recommended portfolio page */
.portfolio-container {
	padding-bottom: 30px;
	border-bottom: 2px solid #eaeaea;
}

.portfolio-container.content-box  .title {
	background: url(../img/chev-right-icon.png);
	background-repeat: no-repeat;
	background-position: center right 40px;
	display: block;
	text-decoration: none;
}

.portfolio-container .content-box {
	position: relative;
}

.portfolio-container .content-box .title {
	background: none;
}

.portfolio-container .content-box .heart {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 47px;
	right: 40px;
}

.portfolio-container .portfolio-items {
	padding: 44px 40px 40px;
}

.portfolio-container .portfolio-item {
	float: left;
	width: 160px;
	text-align: center;
	position: relative;
}

.portfolio-container .portfolio-item .circle {
	margin: 0 auto;;
	width: 93px;
	height: 93px;
	position: relative;
	transform: rotate(180deg)
}

.portfolio-container .portfolio-item .progressbar-text {
	display: block !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
	margin: auto !important;
	line-height: 93px !important;
	text-align: center;
	position: absolute;
	font-size: 36px !important;
	transform: rotate(180deg) !important;
}

.portfolio-container .portfolio-item span {
	display: block;
	font-size: 24px;
	color: #333333;
	text-align: center;
	font-weight: 700;
	margin-top: 16px;
}

.portfolio-container .btn-holder {
	padding: 0 40px;
	background-color: white;
	font-weight: 800;
}
/* recommended portfolio page */

/* profile page */
.profile-contents .profile-info-comments-holder .profile-info-comments-holder
	{
	border-bottom: 2px solid #eaeaea;
}

.profile-contents .profile-info-comments-holder .profile-info {
	padding: 50px 40px;
	display: table;
}

.profile-contents .profile-info-comments-holder .profile-info .img-holder
	{
	display: table-cell;
	width: 161px;
	vertical-align: top;
}

.profile-contents .profile-info-comments-holder .profile-info .img-holder span
	{
	display: block;
	width: 132px;
	height: 132px;
	border-radius: 50%;
	background-color: #333333;
	overflow: hidden;
}

.profile-contents .profile-info-comments-holder .profile-info .img-holder span img
	{
	width: 132px;
	height: 132px;
}

.profile-contents .profile-info-comments-holder .profile-info .profile-details
	{
	display: table-cell;
	vertical-align: top;
	position: relative;
}

.profile-contents .profile-info-comments-holder .profile-info .profile-details .btn-request
	{
	display: block;
	position: absolute;
	right: 0;
	top: 8px;
	width: 96px;
	line-height: 48px;
	border: 2px solid #ff463c;
	border-radius: 30px;
	text-align: center;
	text-decoration: none;
}

.profile-contents .profile-info-comments-holder .profile-info .profile-details .name
	{
	font-size: 39px;
	color: #333333;
	display: block;
	line-height: 1;
}

.profile-contents .profile-info-comments-holder .profile-info .profile-details .subname
	{
	font-size: 30px;
	color: #333333;
	margin-top: 10px;
	display: block;
	line-height: 1;
	margin-bottom: 30px;
}

.profile-contents .profile-info-comments-holder .profile-info .profile-details p
	{
	font-size: 27px;
	color: #333333;
}

.profile-contents .profile-info-comments-holder .profile-info .profile-details .tags-list
	{
	padding: 0;
	margin: 0;
	list-style: none;
	margin-left: -5px;
	margin-right: -5px;
	margin-top: 20px;
}

.profile-contents .profile-info-comments-holder .profile-info .profile-details .tags-list .tags
	{
	float: left;
	margin: 0 5px;
}

.profile-contents .profile-info-comments-holder .profile-info .profile-details .tags-list .tags a
	{
	display: block;
	text-align: center;
	padding: 0 12px;
	line-height: 36px;
	border-radius: 3px;
	text-decoration: none;
	color: white;
	font-size: 21px;
	background-color: #f7894d;
}

.profile-contents .profile-info-comments-holder .profile-comments {
	padding: 0 40px;
	position: relative;
}

.profile-contents .profile-info-comments-holder .profile-comments .header
	{
	position: absolute;
	font-size: 21px;
	color: white;
	background-color: #ff463c;
	text-align: center;
	display: block;
	width: 168px;
	line-height: 34px;
	border-radius: 50px;
	left: 0;
	right: 0;
	top: -17px;
	margin: auto;
}

.profile-contents .profile-info-comments-holder .profile-comments .comments
	{
	display: block;
	text-align: center;
	font-size: 27px;
	color: #333333;
	background-color: #f2f2f2;
	line-height: 100px;
	margin-bottom: 50px;
}

.algorithm-content {
	padding: 50px 40px;
	border-bottom: 2px solid #eaeaea;
}

.algorithm-content .algorithm:not(:last-child) {
	margin-bottom: 37px;
}

.algorithm-content .algorithm .bar-holder {
	height: 9px;
	background-color: #c3c3c3;
	margin-bottom: 20px;
}

.algorithm-content .algorithm .bar-holder span {
	position: relative;
	display: block;
	height: 9px;
	background-color: #ff463c;
}

.algorithm-content .algorithm .bar-holder span:after {
	position: absolute;
	content: '';
	border: 15px solid transparent;
	border-top-color: #ff463c;
	right: -15px;
	top: -25px;
}

.algorithm-content .algorithm .clearfix span {
	display: block;
	font-size: 27px;
	color: #333333;
}

.algorithm-content .search-algorithm {
	display: block;
	line-height: 90px;
	background-color: #ff463c;
	color: white;
	font-size: 33px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	position: relative;
}

.recommended-items .recommended-item {
	position: relative;
	padding: 50px 40px;
	border-bottom: 2px solid #eaeaea;
}

.recommended-items .recommended-item .name-sub-box {
	display: inline-block;
	position: relative;
}

.recommended-items .recommended-item .name-sub-box.withgraph:before {
	position: absolute;
	content: url(../img/item-img.png);
	right: -21px;
	top: 7px;
	margin: auto;
	width: 1px;
	height: 1px;
}

.recommended-items .recommended-item .name {
	font-size: 39px;
	color: #333333;
	display: block;
	margin: 0;
	font-weight: 700;
	letter-spacing: -1px;
}

.recommended-items .recommended-item .name span {
	max-width: 320px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.recommended-items .recommended-item .subinfo {
	font-size: 27px;
	line-height: 1;
	display: block;
	color: #999999;
}

.recommended-items .recommended-item  .heart {
	position: absolute;
	right: 40px;
	width: 40px;
	top: 63px;
	z-index: 99;
	margin: auto;
	height: 40px;
	width: 47px;
	height: 42px;
	background: url(../img/heart-o-icon.png);
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
}

.recommended-items .recommended-item  .heart.heart-full {
	background: url(../img/heart-icon.png);
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
}

.recommended-items .recommended-item .desc {
	font-size: 30px;
	color: #333333;
	letter-spacing: -1px;
	margin-top: 30px;
	margin-bottom: 32px;
}

.recommended-items .recommended-item .buying-offense-box {
	position: relative;
	display: table;
	background-color: #f2f2f2;
	border-top: 2px solid #eaeaea;
	border-bottom: 2px solid #eaeaea;
}

.recommended-items .recommended-item .buying-offense-box::before {
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	margin: auto;
	width: 2px;
	height: 100%;
	background-color: #eaeaea;
}

.recommended-items .recommended-item .buying-offense-box div {
	display: table-cell;
	width: 320px;
	vertical-align: top;
	padding: 29px 0 23px;
}

.recommended-items .recommended-item .buying-offense-box div .label-text
	{
	width: 145px;
	float: left;
	font-size: 24px;
	padding-left: 22px;
}

.recommended-items .recommended-item .buying-offense-box div .label-text.red
	{
	color: #f0625b;
}

.recommended-items .recommended-item .buying-offense-box div .label-text.blue
	{
	color: #5ab4f0;
}

.recommended-items .recommended-item .buying-offense-box div .value {
	width: 175px;
	float: left;
	text-align: right;
	font-size: 24px;
	word-break: keep-all;
	padding-right: 30px;
}

.recommended-items .recommended-item .other-details {
	padding: 39px 0 0;
}

.recommended-items .recommended-item .other-details ul {
	padding: 0;
	margin: 0;
	list-style: none;
	border-top: 2px solid #eaeaea;
	border-bottom: 2px solid #eaeaea;
}

.recommended-items .recommended-item .other-details ul li {
	float: left;
	text-align: center;
	width: 25%;
	padding: 19px 0;
}

.recommended-items .recommended-item .other-details ul li span {
	display: block;
	text-align: center;
	font-size: 24px;
}

.recommended-items .recommended-item .other-details ul li span.heading {
	color: #999999;
}

.recommended-items .recommended-item .other-details ul li span.value {
	color: #333333;
	font-weight: 700;
}

.recommended-items .recommended-item .order-box .item-order {
	position: relative;
	padding-top: 23px;
	padding-bottom: 17px;
	border-bottom: 2px solid #eaeaea;
}

.recommended-items .recommended-item  .order-box .item-order.ribbon {
	background-image: url(../img/ribbon-icon.png);
	background-repeat: no-repeat;
	background-position: top left 5px;
}

.recommended-items .recommended-item  .order-box .item-order.ribbon .item-left
	{
	visibility: hidden;
}

.recommended-items .recommended-item  .order-box .item-order div {
	width: 50%;
	float: left;
}

.recommended-items .recommended-item  .order-box .item-order .img-holder
	{
	position: absolute;
	top: 7px;
	left: 0;
	width: 120px;
	line-height: 120px;
	display: block;
	text-align: center;
	border-radius: 50%;
	opacity: .7;
	background-color: #4c4c4c;
	opacity: 0;
}

.recommended-items .recommended-item  .order-box .item-order .date {
	font-size: 27px;
	display: block;
	color: #999999;
	visibility: hidden;
}

.recommended-items .recommended-item  .order-box .item-order .item-right .btn-order
	{
	font-size: 27px;
	color: white;
	text-decoration: none;
	display: inline-block;
	background-color: #ff463c;
	text-align: center;
	width: 300px;
	line-height: 72px;
	border-radius: 3px;
	position: relative;
	top: 3px;
}

.recommended-items .recommended-item  .order-box .item-order .item-right .achieved
	{
	font-size: 27px;
	display: block;
	line-height: 25px;
	height: 25px;
	text-align: right;
	color: #999999;
	margin-top: 17px;
}

.recommended-items .recommended-item .buy-portfolio {
	text-align: right;
	margin-top: 23px;
}

.recommended-items .recommended-item .buy-portfolio a {
	font-size: 27px;
	color: white;
	text-decoration: none;
	display: inline-block;
	background-color: #ff463c;
	text-align: center;
	width: 300px;
	line-height: 72px;
	border-radius: 3px;
}

.modal-container {
	position: fixed;
	width: 720px;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	overflow-y: auto;
	opacity: 0;
	z-index: -1;
	transition: opacity .35s ease-in-out;
}

.modal-container.active {
	opacity: 1;
	z-index: 100;
	transition: opacity .35s ease-in-out;
}

.modal-container .modal-content-holder {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding-top: 94px;
}

.modal-container .modal-content-holder .modal-contents .modal-top-area {
	padding: 35px 40px 0;
	background-color: #ff463c;
}

.modal-container .modal-content-holder .modal-contents .modal-top-area img
	{
	margin-bottom: 31px;
}

.modal-container .modal-content-holder .modal-contents .modal-top-area .promo-area
	{
	position: relative;
	padding: 0 25px;
}

.modal-container .modal-content-holder .modal-contents .modal-top-area .promo-area:before,
	.modal-container .modal-content-holder .modal-contents .modal-top-area .promo-area:after
	{
	position: absolute;
	content: '';
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: #ece8e3;
	z-index: 1;
}

.modal-container .modal-content-holder .modal-contents .modal-top-area .promo-area:before
	{
	top: 23px;
	left: 60px;
}

.modal-container .modal-content-holder .modal-contents .modal-top-area .promo-area:after
	{
	top: 23px;
	right: 60px;
}

.modal-container .modal-content-holder .modal-contents .modal-top-area .promo-area .bg-overlay
	{
	position: absolute;
	width: 590px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color: rgba(255, 255, 255, 0.7);
	height: 359px;
	left: 0;
	right: 0;
	top: 26px;
	margin: auto;
}

.modal-container .modal-content-holder .modal-contents .modal-top-area .promo-area .white-bg
	{
	background-color: white;
	height: 385px;
	width: 560px;
	margin: 0 auto;
	position: relative;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 0 15px;
	padding-top: 89px;
}

.modal-container .modal-content-holder .modal-contents .modal-top-area .promo-area .white-bg:before,
	.modal-container .modal-content-holder .modal-contents .modal-top-area .promo-area .white-bg:after
	{
	position: absolute;
	content: '';
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: #ece8e3;
	z-index: 1;
}

.modal-container .modal-content-holder .modal-contents .modal-top-area .promo-area .white-bg:before
	{
	bottom: 19px;
	left: 21px;
}

.modal-container .modal-content-holder .modal-contents .modal-top-area .promo-area .white-bg:after
	{
	bottom: 19px;
	right: 21px;
}

.modal-container .modal-content-holder .modal-contents .modal-top-area .promo-area .white-bg .txt-bold
	{
	font-size: 36px;
	color: #333333;
	line-height: 1;
	margin-bottom: 9px;
}

.modal-container .modal-content-holder .modal-contents .modal-top-area .promo-area .white-bg .txt-bold .roboto
	{
	color: #ff463c;
}

.modal-container .modal-content-holder .modal-contents .modal-top-area .promo-area .white-bg .clearfix
	{
	padding-top: 36px;
}

.modal-container .modal-content-holder .modal-contents .modal-top-area .promo-area .white-bg .clearfix a
	{
	display: block;
	line-height: 68px;
	border: 2px solid #eaeaea;
	font-size: 27px;
	border-radius: 5px;
	text-align: center;
	color: #999999;
	text-decoration: none;
	width: 210px;
	background-color: #ffffff;
}

.modal-container .modal-content-holder .modal-contents .modal-top-area .promo-area .white-bg .clearfix .pull-left
	{
	width: 300px;
	border-color: #ff463c;
	background-color: #ff463c;
	color: white;
}

.modal-container .modal-content-holder .modal-contents .modal-ads-area {
	background-color: white;
	padding-bottom: 17px;
}

.modal-container .modal-content-holder .modal-contents .modal-ads-area .ads-header
	{
	padding: 0 40px;
	display: block;
	font-size: 33px;
	color: #333333;
	border-bottom: 2px solid #eaeaea;
	line-height: 91px;
}

.modal-container .modal-content-holder .modal-contents .modal-ads-area .ads-box
	{
	width: 680px;
	height: 250px;
	border-radius: 10px;
	border: 2px solid #eaeaea;
	margin-top: 20px;
	margin: 20px auto 0;
	padding-left: 41px;
	padding-top: 51px;
}

.modal-container .modal-content-holder .modal-contents .modal-ads-area .ads-box.gray
	{
	background-color: #ece8e3;
	background-image: url(../img/doc-img.png);
	background-repeat: no-repeat;
	background-position: top 67px right -110px;
}

.modal-container .modal-content-holder .modal-contents .modal-ads-area .ads-box.graph
	{
	background-color: #e4e9ef;
	background-image: url(../img/graph-img.png);
	background-repeat: no-repeat;
	background-position: top 45px right 37px;
}

.modal-container .modal-content-holder .modal-contents .modal-ads-area .ads-box span
	{
	line-height: 1;
	margin-bottom: 9px;
}

.modal-container .modal-content-holder .modal-contents .modal-ads-area .ads-box .red
	{
	display: block;
	font-size: 41.33px;
	color: #ff463c;
}

.modal-container .modal-content-holder .modal-contents .modal-ads-area .ads-box .blue
	{
	display: block;
	font-size: 41.33px;
	color: #13247d;
}

.modal-container .modal-content-holder .modal-contents .modal-ads-area .ads-box .text
	{
	display: block;
	font-size: 36px;
	color: #333333;
}

.modal-container .modal-content-holder .modal-contents .modal-ads-area .ads-box a
	{
	font-size: 21px !important;
	color: #fff !important;
	display: block;
	text-align: center;
	width: 160px;
	margin-top: 20px;
	line-height: 36px;
	border-radius: 5px;
}

.modal-container .modal-content-holder .modal-contents .modal-ads-area .ads-box a.red
	{
	background-color: #ff463c;
}

.modal-container .modal-content-holder .modal-contents .modal-ads-area .ads-box a.blue
	{
	background-color: #0b305a;
}
/* profile page */

/* modal */
.modal-holder {
	opacity: 0;
	position: fixed;
	overflow: auto;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	z-index: -1;
	transition: opacity .5s ease-in-out;
}

.modal-holder.active {
	opacity: 1;
	display: block;
	z-index: 100;
	transition: opacity .5s ease-in-out;
}

.modal-holder .modal-content-holder {
	height: 924px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 520px;
	width: 100%;
	border-radius: 0;
	background-color: #ffffff;
	border: 0;
}

.modal-holder .modal-content-holder .terms-content {
	position: relative;
	height: 924px;
}

.modal-holder .modal-content-holder .content-header {
	padding: 40px 40px 15px;
}

.modal-holder .modal-content-holder .content-header span {
	font-size: 36px;
	color: #f0625b;
	display: block;
	text-align: center;
	line-height: 1.2;
}

.modal-holder .modal-content-holder .content-body {
	padding: 0 45px;
}

.modal-holder .modal-content-holder .content-body ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.modal-holder .modal-content-holder .content-body ul li {
	display: block;
	position: relative;
	padding-left: 28px;
	margin-top: 20px;
}

.modal-holder .modal-content-holder .content-body ul li:before {
	position: absolute;
	content: '';
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: #ff463c;
	top: 10px;
	left: 0;
}

.modal-holder .modal-content-holder .content-body ul li span {
	display: block;
	font-size: 24px;
	color: #666666;
}

.modal-holder .modal-content-holder .content-body ul li p {
	font-size: 24px;
	color: #666666;
}

.content-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-top: 51px;
}

.content-footer a {
	float: left;
	width: 50%;
	font-size: 33px;
	text-align: center;
	text-decoration: none;
	line-height: 100px;
}

.content-footer a:first-child {
	background-color: #000000;
	color: white;
}

.content-footer a:last-child {
	background-color: #d63b32;
	color: white;
}
/* modal */

/* start page */
.start-page {
	position: relative;
	height: 100vh;
	background: url(../img/start-bg-1.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.start-page a {
	display: block;
	font-size: 36px;
	color: #ff463c;
	text-decoration: none;
	position: fixed;
	bottom: 80px;
	right: 40px;
}

.slider-page {
	position: relative;
	height: 100vh;
}

.slider-page .owl-carousel {
	height: 100vh;
	position: relative;
	background-image: url(../img/gradient-bg.png);
	background-repeat: no-repeat;
}

.slider-page .owl-carousel .item {
	position: relative;
	height: 100vh;
}

.slider-page .owl-carousel .item img {
	position: absolute;
	bottom: 0;
	height: 100vh;
}

.owl-theme .owl-nav.disabled+.owl-dots {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	margin: auto;
}

.owl-theme .owl-dots .owl-dot span {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #ffb5b1;
}

.owl-theme .owl-dots .owl-dot.active span {
	background-color: white;
}

.slider-page .get-started {
	font-size: 30px;
	color: white;
	font-weight: 700;
	background-color: #3469ff;
	border-radius: 50px;
	width: 471px;
	line-height: 90px;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	display: block;
	text-align: center;
	bottom: 80px;
	z-index: 99;
}
/* start page */

/* swing-market */
.items-weight-content {
	padding: 0 40px;
	position: relative;
	padding-top: 40px;
}

.items-weight-content .clearfix {
	display: none;
	position: absolute;
	top: 0;
}

.items-weight-content .clearfix.active {
	display: block;
	position: relative;
}

.items-weight-content .halfchart {
	background-color: #f2f2f2;
	padding: 28px 27px;
	border: 2px solid #eaeaea;
}

.items-weight-content .wholechart {
	background-color: #f2f2f2;
	padding: 28px 0;
	border: 2px solid #eaeaea;
}

.items-weight-content .halfchart div {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-left: -4px;
	margin-right: -4px;
}

.items-weight-content .clearfix .chart-legend ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
/* .items-weight-content .wholechart .chart-legend{
	margin-top: 40px;
} */
.items-weight-content .wholechart .chart-legend ul {
	width: 50%;
	padding-left: 30px;
	float: left;
}

.items-weight-content .clearfix .chart-legend ul li {
	position: relative;
	font-size: 27px;
	font-weight: 700;
	padding-left: 22px;
}

.items-weight-content .clearfix .chart-legend ul li:before {
	width: 11px;
	height: 11px;
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 50%;
	left: 0;
}

.items-weight-content .clearfix .chart-legend ul li.red:before {
	background-color: #e85d57;
}

.items-weight-content .clearfix .chart-legend ul li.green:before {
	background-color: #24b59b;
}

.items-weight-content .clearfix .chart-legend ul li.orange:before {
	background-color: #ee9241;
}

.items-weight-content .clearfix .chart-legend ul li.yellow:before {
	background-color: #ffe034;
}

.items-weight-content .clearfix .chart-legend ul li.blue:before {
	background-color: #0daceb;
}

.items-weight-content .clearfix .chart-legend ul li span {
	display: inline-block;
	margin-left: 10px;
	font-weight: 400;
	letter-spacing: -1px;
}

.items-weight-content .view-events {
	border-bottom: 2px solid #eaeaea;
	padding: 33px 0;
}

.items-weight-content .view-events a {
	display: block;
	text-align: center;
	color: #ff463c;
	text-decoration: none;
	position: relative;
	font-weight: 700;
}

.items-weight-content .view-events .sign {
	display: inline-block;
	position: relative;
	text-align: center;
	display: none;
	font-size: 33px;
	padding-left: 50px;
}

.items-weight-content .view-events .sign.plus:before {
	position: absolute;
	content: '';
	width: 2px;
	height: 30px;
	top: 0;
	bottom: 0;
	left: 14px;
	margin: auto;
	background-color: #ff463c;
}

.items-weight-content .view-events .sign.plus:after {
	position: absolute;
	content: '';
	width: 30px;
	height: 2px;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background-color: #ff463c;
}

.items-weight-content .view-events .sign.minus:after {
	position: absolute;
	content: '';
	width: 30px;
	height: 2px;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background-color: #ff463c;
}

.items-weight-content .view-events .sign.active {
	display: inline-block;
}

.swing-makert-items .recommended-items .heart {
	top: 70px;
	margin: 0;
	right: 43px;
}

.swing-makert-items .recommended-items .buy-portfolio .pull-left {
	display: block;
	position: relative;
	font-size: 24px;
	color: #333333;
	margin-top: 20px;
	padding-left: 20px;
}

.swing-makert-items .recommended-items .buy-portfolio .pull-left:before
	{
	position: absolute;
	content: '';
	width: 11px;
	height: 11px;
	left: 0;
	top: 0;
	border-radius: 50%;
	bottom: 0;
	margin: auto;
}

.swing-makert-items .recommended-items .buy-portfolio .red:before {
	background-color: #e85d57;
}

.swing-makert-items .recommended-items .buy-portfolio .green:before {
	background-color: #24b59b;
}

.swing-makert-items .recommended-items .buy-portfolio .orange:before {
	background-color: #ee9241;
}

.swing-makert-items .recommended-items .buy-portfolio .yellow:before {
	background-color: #ffe034;
}

.swing-makert-items .recommended-items .buy-portfolio .blue:before {
	background-color: #0daceb;
}

.items-weight-content .items-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .6);
	z-index: 99;
	padding: 0 40px;
	text-align: center;
}

.items-weight-content .items-overlay span {
	display: block;
	font-size: 30px;
	color: #ffffff;
	position: relative;
	margin-top: 130px;
}

.items-weight-content .items-overlay a {
	position: relative;
	display: block;
	font-size: 33px;
	color: white;
	font-weight: 700;
	background-color: #ff463c;
	text-align: center;
	margin-top: 126px;
	line-height: 100px;
}
/* swing-market */

/* business page */
.market-content /* business page */
	/* search-item */ 
.search-item .recommended-items .recommended-item .heart {
	position: absolute;
	top: 0;
	bottom: none;
}

.search-item-content .realtime-return {
	padding: 0 40px;
	border-bottom: 2px solid #eaeaea;
}

.search-item-content .realtime-return .labels-header {
	border-bottom: 2px solid #eaeaea;
	padding: 10px 0;
}

.search-item-content .realtime-return .labels-header span {
	font-size: 27px;
	color: #999999;
	float: left;
}

.search-item-content .realtime-return .labels-header span:first-child {
	width: 320px;
	padding-left: 10px;
}

.search-item-content .realtime-return .labels-header span:nth-child(2) {
	width: 120px;
	text-align: right;
}

.search-item-content .realtime-return .labels-header span:last-child {
	width: 200px;
	text-align: right;
	padding-right: 5px;
}

.search-item-content .return-item {
	display: table;
	width: 100%;
	padding: 30px 0 33px;
}

.search-item-content .return-item:not(:last-child) {
	border-bottom: 2px solid #eaeaea;
}

.search-item-content .return-item div {
	display: table-cell;
}

.search-item-content .return-item .count {
	vertical-align: top;
	width: 50px;
	padding-right: 18px;
	text-align: right;
}

.search-item-content .return-item .count span {
	font-size: 30px;
	color: #333333;
}

.search-item-content .return-item .info {
	width: 270px;
}

.search-item-content .return-item.revenue-item .info {
	width: 217px;
}

.search-item-content .return-item .info .name {
	font-size: 30px;
	color: #333333;
	display: block;
}

.search-item-content .return-item .info .date {
	font-size: 27px;
	display: block;
	color: #666666;
}

.search-item-content .return-item .cur-price {
	width: 120px;
	text-align: right;
	vertical-align: middle;
}

.search-item-content .return-item.revenue-item .cur-price {
	width: 185px;
}

.search-item-content .return-item .cur-price span {
	font-size: 33px;
	color: #333333;
	white-space: nowrap;
	display: block;
	text-align: right;
}

.search-item-content .return-item .yield {
	width: 200px;
	text-align: right;
	vertical-align: middle;
}

.search-item-content .return-item .yield span {
	color: #f0625b;
	font-size: 39px;
}
/* search-item */

/* points usage */
.hold-point-box {
	text-align: center;
	background-color: #f0625b;
	padding: 100px 0;
	border-top: 1px solid #ff8d87;
}

.hold-point-box .txt-label {
	font-size: 27px;
	color: white;
	display: block;
}

.hold-point-box .points-holder {
	margin-top: 10px;
}

.hold-point-box .points-holder .points {
	font-size: 90px;
	color: white;
	display: inline;
	line-height: 1;
}

.hold-point-box .points-holder .txt-label {
	font-size: 39px;
	color: white;
	display: inline;
	position: relative;
	left: 10px;
	top: 5px;
}

.btn-charge {
	font-size: 27px;
	text-decoration: none;
	color: white;
	line-height: 80px;
	width: 257px;
	border: 1px solid #ffffff; ]
	background: transparent;
	text-align: center;
	display: inline-block;
	border-radius: 50px;
	margin-top: 35px;
}

.btn-charge:hover {
	color: #fff;
}

.view-products-points {
	position: relative;
	border-bottom: 2px solid #eaeaea;
}

.view-products-points:after {
	position: absolute;
	content: '';
	width: 2px;
	height: 30px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #eaeaea;
}

.view-products-points a {
	position: relative;
	display: block;
	float: left;
	width: 50%;
	text-align: center;
	font-size: 33px;
	text-decoration: none;
	line-height: 90px;
	color: #333333;
}

.view-products-points a.active {
	color: #f0625b;
	border-bottom: 6px solid #ff463c;
}

.no-products-box {
	padding: 200px 0;
	text-align: center;
}

.no-products-box .note {
	display: block;
	font-size: 33px;
	color: #333333;
	margin-bottom: 40px;
	text-align: center;
}

.products-list-box {
	padding: 0 40px;
}

.products-list-box .product-item {
	display: block;
	padding: 30px 0;
	position: relative;
}

.products-list-box .product-item:not(:last-child) {
	border-bottom: 2px solid #eaeaea;
}

.products-list-box .product-item.witharrow {
	background-image: url(../img/arrow-right-icon.png);
	background-repeat: no-repeat;
	background-position: center right;
}

.products-list-box .product-item a {
	display: block;
}

.products-list-box .product-item .product-name {
	font-size: 33px;
	color: #333333;
	display: block;
}

.products-list-box .product-item .item {
	color: #ff463c;
	font-weight: 700;
	margin-left: 5px;
}

.products-list-box .product-item .details {
	font-size: 27px;
	color: #999999;
}

.products-list-box .product-item .btn-repurchase {
	position: absolute;
	right: 0;
	display: block;
	line-height: 72px;
	width: 180px;
	background-color: #ff463c;
	text-align: center;
	color: white;
	font-size: 27px;
	font-weight: 700;
	height: 72px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.points-usage-list {
	padding: 0 40px 100px;
}

.points-usage-list .list-heading {
	border-bottom: 2px solid #eaeaea;
}

.points-usage-list .list-heading .heading span {
	font-size: 27px;
	color: #999999;
	padding: 7px 15px;
	display: block;
	line-height: 1;
}

.points-usage-list .points-usage {
	padding: 30px 0;
	border-bottom: 2px solid #eaeaea;
	position: relative;
}

.points-usage-list .points-usage .points-details .point-name {
	display: block;
	font-size: 33px;
	color: #333333;
}

.points-usage-list .points-usage .points-details .date {
	display: block;
	font-size: 27px;
	color: #999999;
}

.points-usage-list .points-usage .points {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 30px;
	position: absolute;
	right: 0;
	line-height: 1;
	top: 0;
	height: 30px;
	bottom: 0;
	margin: auto;
	display: block;
}

.points-usage-list .points-usage .points.blue {
	color: #5ab4f0;
}

.points-usage-list .points-usage .points.red {
	color: #ff463c;
}
/* points usage */

/* confirmed goals */
.packages-area {
	background-color: #ece8e3;
	position: relative;
	overflow: hidden;
	min-height: 1121px;
	padding: 0 22px;
	background-image: url(../img/doc-img.png);
	background-repeat: no-repeat;
	background-position-x: 507px;
	background-position-y: 67px;
}

.packages-area .dr-img {
	position: absolute;
	top: 67px;
	right: -87px;
	z-index: 1;
}

.packages-area .confirmm-unlimited-box {
	padding: 55px 20px;
	margin-bottom: 4px;
}

.packages-area .confirmm-unlimited-box span {
	display: block;
}

.packages-area .confirmm-unlimited-box span.confirmed {
	font-size: 41.33px;
	color: #ff463c;
	line-height: 1;
	font-weight: 800;
	margin-bottom: 10px;
}

.packages-area .confirmm-unlimited-box span.unlimited {
	font-size: 36px;
	color: #333333;
	line-height: 1;
	margin-bottom: 25px;
}

.packages-area .confirmm-unlimited-box .interim-package {
	display: block;
	font-size: 21px;
	color: white;
	background-color: #ff463c;
	width: 160px;
	line-height: 36px;
	border-radius: 5px;
	text-align: center;
}

.packages-area .primary-goals-box {
	padding: 0 18px;
	background-color: white;
	z-index: 10;
	border-radius: 10px;
	overflow: hidden;
	border: 2px solid #eaeaea;
	background-image: url(../img/ribbon-violet2.png);
	background-repeat: no-repeat;
	background-position: top right 18px;
}

.packages-area .primary-goals-box .heading {
	font-size: 27px;
	color: #666666;
	padding-left: 15px;
	display: block;
	padding-top: 41px;
}

.packages-area .primary-goals-box .goals-item {
	padding: 25px 0;
	position: relative;
}

.packages-area .primary-goals-box .goals-item:not(:last-child) {
	border-bottom: 2px solid #eaeaea;
}

.packages-area .primary-goals-box .goals-item .discount {
	font-size: 21px;
	color: #ff463c;
	border: 2px solid #ff463c;
	border-radius: 5px;
	width: 128px;
	line-height: 36px;
	height: 36px;
	text-align: center;
	display: block;
	margin-left: 15px;
	margin-bottom: 5px;
}

.packages-area .primary-goals-box .goals-item .day-pass {
	font-size: 30px;
	color: #333333;
	padding-left: 15px;
	display: block;
}

.packages-area .primary-goals-box .goals-item .btn-purchase {
	position: absolute;
	width: 180px;
	line-height: 72px;
	display: block;
	text-align: center;
	height: 72px;
	top: 0;
	bottom: 0;
	margin: auto;
	text-decoration: none;
	font-size: 27px;
	color: white;
	background-color: #ff463c;
	right: 10px;
	border-radius: 5px;
	font-weight: 700;
}

.packages-area .promo-ads {
	margin-top: 13px;
	border: 2px solid #eaeaea;
	background-color: #e4e9ef;
	border-radius: 10px;
	padding: 53px 30px;
	position: relative;
}

.packages-area .promo-ads .promo-price {
	font-size: 41.33px;
	color: #13247d;
	font-weight: 700;
	display: block;
	line-height: 1;
	margin-bottom: 10px;
}

.packages-area .promo-ads .check-goal {
	font-size: 36px;
	color: #1d2850;
	display: block;
	line-height: 1;
	margin-bottom: 25px;
}

.packages-area .promo-ads .bundled-package {
	font-size: 21px;
	color: white;
	background-color: #0b305a;
	display: block;
	width: 160px;
	line-height: 36px;
	text-align: center;
	border-radius: 5px;
}

.packages-area .promo-ads img {
	position: absolute;
	right: 37px;
	top: 45px;
}

.day-pass-ads a {
	z-index: 30;
	font-size: 30px;
	display: block;
	color: white;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
	line-height: 120px;
	height: 120px;
	width: 720px;
	bottom: 0;
	margin: 0 auto;
}
/* confirmed goals */

/* purchase points */
.purchase-points .item {
	position: relative;
}

.purchase-points .item.ribboned:before {
	position: absolute;
	content: url(../img/ribbon-red.png);
	top: 0;
	left: 0;
	height: 1px;
	width: 1px;
}
/* purchase points */

/* purchase complete */
.purchase-complete {
	text-align: center;
	margin-top: 200px;
}

.purchase-complete div {
	font-size: 33px;
}

.purchase-complete .roboto-m {
	color: #ff463c;
}

.purchase-complete .btn-holder {
	background-color: white;
	margin-top: 160px;
}

/* purchase complete */

/* productsinuse page */
.productsinuse .header-links ul {
	padding: 0;
	margin: 0%;
	border-top: 2px solid #eaeaea;
	border-bottom: 2px solid #eaeaea;
	display: table;
	width: 100%;
}

.productsinuse .header-links ul li {
	display: table-cell;
	vertical-align: middle;
	width: 33.33%;
	text-align: center;
	list-style: none;
}

.productsinuse .header-links ul li:not(:last-child) {
	border-right: 2px solid #eaeaea;
}

.productsinuse .header-links ul li a {
	display: block;
	font-size: 30px;
	line-height: 88px;
	color: #333333;
}

.productsinuse .header-links ul li.active a {
	color: #ff463c;
}

.productsinuse .header-links ul li a span {
	display: block;
	line-height: 1;
}

.productsinuse .product-use-list {
	padding: 0 30px;
}

.productsinuse .product-use-list .product-use-item {
	border-bottom: 2px solid #eaeaea;
	padding: 30px 0;
}

.productsinuse .product-use-list .product-use-item .inlined {
	display: inline-block;
	vertical-align: middle;
}

.productsinuse .product-use-list .product-use-item .product-use-info {
	width: 480px;
}

.productsinuse .product-use-list .product-use-item .name {
	font-size: 33px;
	color: #333333;
	display: block;
}

.productsinuse .product-use-list .product-use-item .date {
	font-size: 27px;
	color: #999999;
	display: block;
}

.productsinuse .product-use-list .product-use-item .product-use-search {
	display: inline-block;
	margin-left: -4px;
	width: 180px;
	line-height: 72px;
	text-align: center;
	color: white;
	text-decoration: none;
	background-color: #ff463c;
	border-radius: 5px;
	font-size: 27px;
}

.productsinuse .search-area-box {
	padding: 28px 30px;
	border-bottom: 2px solid #eaeaea;
}

.productsinuse .search-area-box .input-area {
	display: inline-block;
	vertical-align: middle;
	width: 570px;
}

.productsinuse .search-area-box .input-area .search {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 75px;
	height: 39px;
	background: url(../img/search-icon.png);
	background-repeat: no-repeat;
	background-position: center left 15px;
}

.productsinuse .search-area-box .input-area  input {
	display: inline-block;
	vertical-align: middle;
	border: 0;
	font-size: 33px;
	outline: none;
	color: #ff463c;
}

.productsinuse .search-area-box .input-area  input::placeholder {
	color: #eaeaea;
}

.productsinuse .search-area-box .cancel {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	font-size: 33px;
	text-decoration: none;
	color: #333333;
	padding-left: 20px;
}

.productsinuse .search-area-box .cancel:before {
	position: absolute;
	content: '';
	width: 2px;
	height: 36px;
	left: 0;
	top: 0;
	bottom: 2px;
	margin: auto;
	background-color: #000;
}

.productsinuse .sort-area {
	padding: 0 30px;
	text-align: right;
	background-color: #f2f2f2;
}

.productsinuse .sort-area a {
	display: block;
	position: relative;
	line-height: 54px;
	font-size: 27px;
	color: #333333;
	float: right;
}

.productsinuse .sort-area a:before {
	position: absolute;
	content: url(../img/sort-icon.png);
	top: 2px;
	bottom: 0;
	left: -40px;
	margin: auto;
}

.productsinuse .recommended-box {
	padding: 0 30px;
}

.productsinuse .recommended-box .box-item {
	padding: 28px 0;
}

.productsinuse .details-area {
	float: left;
	width: 280px;
}

.productsinuse .details-area .name {
	font-size: 33px;
	display: block;
	color: #333333;
}

.productsinuse .details-area .subinfo {
	font-size: 27px;
	display: block;
	color: #333333;
	position: relative;
}

.productsinuse .value-area {
	float: left;
	width: 170px;
	text-align: right;
	font-size: 39px;
	padding-right: 10px;
	color: #333333;
}

.productsinuse .value-area.blue {
	color: #5ab4f0;
}

.productsinuse .value-area.red {
	color: #ff463c;
}

.productsinuse .percent-area {
	width: 140px;
	float: left;
	text-align: right;
}

.productsinuse .percent-area span {
	color: #333333;
}

.productsinuse .percent-area.blue span {
	color: #5ab4f0;
}

.productsinuse .percent-area.red span {
	color: #ff463c;
}

.productsinuse .percent-area span {
	display: block;
	font-size: 27px;
	line-height: 1.25;
	position: relative;
}

.productsinuse .percent-area .eval:before {
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	border: 10px solid transparent;
	bottom: 0;
	top: 10px;
	margin: auto;
	left: 10px;
}

.productsinuse .percent-area.blue .eval.up:before {
	border-bottom-color: #5ab4f0;
	top: 0;
	bottom: 15px;
}

.productsinuse .percent-area.red .eval.up:before {
	border-bottom-color: #ff463c;
	top: 0;
	bottom: 15px;
}

.productsinuse .percent-area.blue .eval.down:before {
	border-top-color: #5ab4f0;
}

.productsinuse .percent-area.red .eval.down:before {
	border-top-color: #ff463c;
}

.productsinuse .heart-box {
	width: 70px;
	float: left;
	padding-top: 7px;
	text-align: right;
}

.productsinuse .heart-box a {
	margin-left: auto;
}

.productsinuse .line-holder {
	height: 9px;
	position: relative;
	width: 640px;
	margin: 30px auto 0;
}

.productsinuse .line-holder:before {
	position: absolute;
	content: '';
	width: 3px;
	height: 23px;
	background-color: #c3c3c3;
	left: 120px;
	bottom: 0;
	z-index: 99;
}

.productsinuse .line-holder .color-box {
	float: left;
}

.productsinuse  .line-holder .blue {
	position: relative;
	width: 120px;
	display: block;
	height: 9px;
	float: left;
	background-color: #ddd7ff;
}

.productsinuse .line-holder .blue span {
	background-color: #5ab4f0;
	margin-left: auto;
}

.productsinuse .line-holder .blue:before {
	position: absolute;
	content: '';
	width: 1px;
	height: 1px;
	border: 15px solid transparent;
	border-top-color: #5ab4f0;
	top: -20px;
}

.productsinuse .line-holder .red {
	position: relative;
	width: 520px;
	height: 9px;
	float: left;
	background-color: #ffd9d7;
}

.productsinuse .line-holder .red span {
	background-color: #ff463c;
}

.productsinuse .line-holder .red:after {
	position: absolute;
	content: '';
	width: 1px;
	height: 1px;
	border: 15px solid transparent;
	border-bottom-color: #ff463c;
	top: -35px;
	display: block;
	right: 0;
}

.productsinuse .line-holder .color-box span {
	display: none;
	width: 0;
	z-index: 10;
	height: 9px;
	position: relative;
}

.productsinuse .line-holder .blue span:before {
	position: absolute;
	content: '';
	border: 4px solid transparent;
	border-right-color: #5ab4f0;
	left: -8px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.productsinuse .line-holder .red span:before {
	position: absolute;
	content: '';
	border: 4px solid transparent;
	border-left-color: #ff463c;
	right: -8px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.productsinuse  .line-holder .color-box.active span {
	display: block;
}

.productsinuse .offense-goal-box {
	margin: 20px 0 0;
}

.productsinuse .offense-goal-box .box {
	width: 50%;
}

.productsinuse .offense-goal-box .box .lbl {
	font-size: 24px;
	color: #999999;
	display: inline-block;
	border: 1px solid #999999;
	border-radius: 5px;
	padding: 0 8px;
}

.productsinuse .offense-goal-box .box .points {
	font-size: 24px;
	color: #999999;
	display: inline-block;
	margin-left: 15px;
}

.premiumsignalnotif .box-item {
	padding: 22px 21px 0;
}

.premiumsignalnotif .box-item .item-top-info {
	padding: 28px 0;
	border-bottom: 2px solid #eaeaea;
}

.premiumsignalnotif .box-item .item-top-info {
	background: url(../img/chev-right-icon.png);
	background-repeat: no-repeat;
	background-position: center right;
}

.premiumsignalnotif .box-item .item-top-info div {
	display: inline-block;
	float: none;
	vertical-align: middle;
}
/* productsinuse page */

/* purchasepoints page */
.purchasepoints .points-box-holder {
	background-color: #f2f2f2;
	padding: 0 40px;
	position: relative;
}

.purchasepoints .points-box-holder .points-box span {
	display: inline-block;
	line-height: 90px;
}

.purchasepoints .points-box-holder .points-box .lbl {
	font-size: 27px;
	color: #333333;
	margin-right: 20px;
}

.purchasepoints .points-box-holder .points-box .points {
	font-size: 40px;
	color: #333333;
	position: relative;
	font-weight: 600;
}

.purchasepoints .points-box-holder .points-box .points:after {
	position: absolute;
	content: 'P';
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	top: 2px;
	right: -30px;
	font-size: 40px
}

.purchasepoints .points-box-holder .points-box .pointsused {
	position: absolute;
	right: 40px;
	font-size: 20px;
	color: #a0a0a0;
	width: 172px;
	line-height: 45px;
	height: 45px;
	text-align: center;
	border: 2px solid #a0a0a0;
	border-radius: 30px;
	top: 0;
	bottom: 0;
	margin: auto;
}
/* purchasepoints page */

/* pointsused page */
.pointsused .heading {
	font-size: 33px;
	color: #333333;
	line-height: 90px;
	display: block;
	padding: 0 40px;
	border-bottom: 2px solid #eaeaea;
}

.pointsused .lbl-box {
	padding: 0 30px;
	background: #f2f2f2;
}

.pointsused .lbl-box span {
	width: 50%;
	display: block;
	line-height: 55px;
	font-size: 27px;
}

.pointsused .lbl-box span.text-right {
	padding-right: 10px;
}

.pointsused .pointsused-list-box .item {
	padding: 30px 30px;
	border-bottom: 2px solid #eaeaea;
}

.pointsused .pointsused-list-box .item .box {
	width: 70%;
	display: inline-block;
	vertical-align: middle;
}

.pointsused .pointsused-list-box .item .box.text-right {
	width: 30%;
	margin-left: -4px;
}

.pointsused .pointsused-list-box .item .box span {
	display: block;
}

.pointsused .pointsused-list-box .item .box .name {
	font-size: 33px;
	color: #333333;
}

.pointsused .pointsused-list-box .item .box .date {
	font-size: 27px;
	color: #999999;
}

.pointsused .pointsused-list-box .item .box .points {
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
}

.pointsused .pointsused-list-box .item .box .points.blue {
	color: #5ab4f0;
}

.pointsused .pointsused-list-box .item .box .points.red {
	color: #ff463c;
}
/* pointsused page */

/* premium signal reminder page */
.psr-page .reminder-list .reminder {
	position: relative;
	padding: 30px 30px 30px 90px;
	border-bottom: 2px solid #eaeaea;
}

.psr-page .reminder-list .reminder:before {
	position: absolute;
	content: '';
	width: 1px;
	height: 1px;
	border: 15px solid transparent;
	left: 30px;
	top: 0;
	bottom: 12px;
	margin: auto;
}

.psr-page .reminder-list .reminder.red.up:before {
	border-bottom-color: #ff463c;
}

.psr-page .reminder-list .reminder.red.down:before {
	border-top-color: #ff463c;
	top: 12px;
	bottom: 0;
}

.psr-page .reminder-list .reminder.blue.up:before {
	border-bottom-color: #5ab4f0;
}

.psr-page .reminder-list .reminder.blue.down:before {
	border-top-color: #5ab4f0;
	top: 12px;
	bottom: 0;
}

.psr-page .reminder-list .reminder span {
	display: block;
}

.psr-page .reminder-list .reminder .title {
	font-size: 33px;
}

.psr-page .reminder-list .reminder .date {
	font-size: 27px;
	color: #999999;
}
/* premium signal reminder page */

/* search result pgge  */
.searchresult {
	background: #1e212a;
}

.searchresult header {
	background: #1e212a;
}

.searchresult.content-container header .search-container {
	position: relative;
}

.searchresult.content-container header .search-container input {
	border: 2px solid #ff463c;
	height: 60px;
	background-color: white;
	padding-left: 5px;
	max-width: 464px;
	margin-left: 20px;
	font-size: 30px;
}

.searchresult.emptyresult header .search-container input {
	padding-left: 20px;
	padding-right: 60px;
}

.searchresult.emptyresult header .search-container .search-input-icon {
	position: absolute;
	right: 0;
	top: 29px;
	right: 25px;
	line-height: 36px;
}

.searchresult.content-container header .search-icon {
	padding-left: 30px;
}

.searchresult.content-container header .search-icon a {
	position: relative;
	top: -5px;
}

.searchresult.content-container header .cancel a {
	position: relative;
	top: -5px;
	color: #fff;
}

.searchresult .viewing-option ul {
	padding: 10px 0;
	margin: 0;
	list-style: none;
	text-align: center;
	background-color: #282b32;
}

.searchresult .viewing-option ul li {
	display: inline-block;
	background-color: #3e424c;
	border-radius: 5px;
}

.searchresult .viewing-option ul li.active {
	background-color: #a13cff;
}

.searchresult .viewing-option ul li:not(:first-child) {
	margin-left: 10px;
}

.searchresult .viewing-option ul li a {
	font-size: 33px;
	display: block;
	padding: 10px 18px;
	color: #ffffff;
}

.searchresult .suggestion:not(:last-child) {
	border-bottom: 2px solid #404040;
}

.searchresult .suggestion.nb {
	border: 0;
}

.searchresult .suggestion-box .suggestion.gray {
	background-color: #3e424c;
	border: 2px solid #1e212a;
}

.searchresult .suggestion .lbl-head {
	border-bottom: 2px solid #404040;
	padding: 0 30px;
}

.searchresult .suggestion.gray .lbl-head {
	border-bottom: 2px solid #1e212a;
}

.searchresult .suggestion .lbl-head .title {
	direction: inline-block;
}

.searchresult .suggestion-box .suggestion .lbl-head .title {
	font-size: 33px;
	color: #999999;
	display: inline-block;
}

.searchresult .suggestion-box .suggestion .lbl-head.blue .title {
	color: #1bfffc;
}

.searchresult .suggestion-box .suggestion .lbl-head.red .title {
	color: #ff463c;
}

.searchresult .suggestion-box .suggestion .lbl-head .count {
	font-size: 33px;
	color: #333333;
	display: inline-block;
	padding: 5px 20px;
	background-color: white;
	border-radius: 30px;
	line-height: 1;
	margin-left: 25px;
}

.searchresult .suggestion-box .suggestion .suggestions {
	padding: 0 40px;
}

.searchresult .suggestion-box .suggestion .suggestions .item {
	padding: 30px 0 27px 10px;
	display: block;
}

.searchresult .suggestion-box .suggestion .suggestions .item:not(:last-child)
	{
	border-bottom: 2px solid #404040;
}

.searchresult .suggestion-box .suggestion.gray .suggestions .item:not(:last-child)
	{
	border-bottom: 2px solid #1e212a;
}

.searchresult .suggestion-box .suggestion .suggestions .item .title {
	font-size: 33px;
	color: #ffffff;
	display: block;
}

.searchresult .suggestion-box .suggestion .suggestions .item .sub {
	font-size: 27px;
	color: #999999;
	display: block;
}

.searchresult .suggestion-box .suggestion .suggestions .item .delete,
	.searchresult .suggestion-box .suggestion .delete-all {
	right: 0;
}

.searchresult .suggestion-box .suggestion .news-list {
	padding: 0 30px;
}

.searchresult .suggestion-box .suggestion .news-list .news {
	border-bottom: 2px solid #404040;
	display: table;
	padding: 27px 0 40px;
	width: 100%;
}

.searchresult .suggestion-box .suggestion .news-list .news .news-content
	{
	display: table-cell;
	width: 500px;
	vertical-align: top;
	padding-left: 15px;
}

.searchresult .suggestion-box .suggestion .news-list .news .news-content.noimg
	{
	widows: 100%;
}

.searchresult .suggestion-box .suggestion .news-list .news .news-title {
	font-size: 33px;
	color: #ffffff;
	display: block;
	word-break: keep-all;
	letter-spacing: -2px;
}

.searchresult .suggestion-box .suggestion .news-list .news .news-category
	{
	margin-top: 18px;
}

.searchresult .suggestion-box .suggestion .news-list .news .news-category span
	{
	display: inline-block;
	font-size: 24px;
	color: #666666;
	margin-right: 15px;
	position: relative;
}

.searchresult .suggestion-box .suggestion .news-list .news .news-category .category:after
	{
	position: absolute;
	content: '';
	right: -10px;
	height: 17px;
	width: 2px;
	top: 0;
	bottom: 2px;
	margin: auto;
	background-color: #666666;
}

.searchresult .suggestion-box .suggestion .news-list .news img {
	display: inline-block;
	vertical-align: top;
	width: 132px;
	height: 132px;
	float: right;
}

.searchresult.searchroboadvisor .suggestion-box {
	background: #282b32;
}

.searchresult .tags-list-box ul {
	padding: 10px 20px;
	margin: 0;
	list-style: none;
	background-color: #282b32;
	margin: 0 -5px;
}

.searchresult .tags-list-box ul li {
	display: inline-block;
	background-color: #3e424c;
	border-radius: 5px;
}

.searchresult .tags-list-box ul li {
	margin: 10px 5px;
}

.searchresult .tags-list-box ul li a {
	font-size: 33px;
	display: block;
	padding: 10px 18px;
	color: #ffffff;
}

.moveTop {
	position: fixed;
	bottom: 40px;
	right: 20px;
	width: 74px;
	height: 74px;
	background-color: rgba(255, 255, 255, 0.7);
	text-align: center;
	border: 1px solid #a19e9c;
}

.moveTop a {
	font-size: 24px;
	color: #3e424c;
	display: block;
}

.moveTop a img {
	margin-bottom: 5px;
}

/* search result pgge  */

/* .bg-pink{
	background-color: #f0625b;
	border: 1px solid  #f0625b;
} */
.bg-pink {
	background-color: #ff463c;
	border: 1px solid #ff463c;
}

.bg-pink .txt-medium {
	color: white;
}

.bg-white {
	background-color: white;
}

.bg-gray {
	background-color: #f2f2f2;
}

.bg-grayed {
	background-color: #ece8e3;
}

.black {
	background-color: #282b32 !important;
}

.notfound.black span {
	color: #fff;
}

footer {
	background-color: #f2f2f2;
	padding-top: 15px;
}

footer .footer-logo-holder {
	background-color: white;
	padding: 35px 0;
}