@charset "utf-8";

/* default */
* {
	margin: 0;
	padding: 0;
	word-break: keep-all;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-o-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-overflow-scrolling: touch;
}

html, body {
	width: 100%;
	height: 100%;
	font-size: 16px;
}

body {
	position: relative;
	font-family: Verdana, Geneva, Malgun Gothic, "맑은 고딕", Dotum, "돋움",
		HelveticaNeue-Light, AppleSDGothicNeo-Light, sans-serif;
	line-height: 1.3;
	background-color: #f2f2f2;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a,
	address, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label,
	legend, input, textarea, table, caption, tbody, tfoot, thead, tr, th,
	td, header, footer, nav, menu, section, article, aside, main, video {
	border: 0;
	color: inherit;
	font: inherit
}

header, footer, section, article, aside, nav, main, details, menu,
	figure, figcaption, video {
	display: block
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	word-wrap: break-word;
	word-break: break-all
}

caption {
	visibility: hidden;
	overflow: hidden;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0
}

table th, table td {
	text-align: center;
	vertical-align: middle
}

ol, ul, li {
	list-style: none outside none
}

a {
	color: inherit;
	text-decoration: none
}

a:hover, a:visited {
	text-decoration: none
}

button {
	overflow: visible;
	border: 0 none;
	background: transparent;
	cursor: pointer;
	apperance: 0;
}

img {
	border: 0 none
}

form, input, select, label, img {
	vertical-align: middle
}

em, address {
	font-style: normal
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700
}

.blind {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

#wrap {
	max-width: 680px;
	min-width: 320px;
	width: 100%;
	min-height: 100%;
	position: relative;
	box-sizing: border-box;
	margin: 0 auto;
}

#wrap header {
	padding: 15px;
}

#wrap .container {
	padding: 20px;
	border: 4px solid #ddd;
	font-size: 12px;
	color: #999;
	background-color: #fff;
}

.title01 {
	font-size: 20px;
	letter-spacing: -1px;
	color: #333;
}

.title02 {
	font-size: 15px;
	letter-spacing: -1px;
	color: #333;
	margin-bottom: 12px;
}

.tbl {
	width: 100%;
	table-layout: fixed;
	border-top: 1px solid #666;
	margin-bottom: 20px;
}

.tbl th, .tbl td {
	font-size: 13px;
	vertical-align: middle;
	border-bottom: 1px solid #ddd;
}

.tbl th {
	height: 45px;
	background: #f5f5f5;
	text-align: center;
	color: #333;
	font-weight: 700;
}

.tbl td {
	text-align: left;
	padding: 8px 10px;
	color: #222;
}

p.txt {
	margin-top: -11px;
	margin-bottom: 13px;
}

.int, select {
	padding: 0 5px;
	height: 34px;
	width: 100%;
	border: 1px solid #ddd;
	box-sizing: border-box
}

.mb0 {
	margin-bottom: 0 !important
}

.mb3 {
	margin-bottom: 3px !important
}

.btn_center {
	text-align: center;
	padding: 20px 0 30px;
}

.btns {
	display: inline-block;
	text-align: center;
	font-size: 14px;
	color: #fff;
	font-weight: 700;
	line-height: 40px;
	width: 120px;
	height: 40px;
	background: #343693
}

footer {
	color: #222;
	font-size: 12px;
}

footer address {
	padding: 5px;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	line-height: 1.2
}

footer .copy {
	padding: 0 5px;
	font-size: 11px;
	margin-top: 2px;
	color: #999;
}