@charset "utf-8";


/*
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url(./fonts/NotoSansKR-Bold.eot);
	src: url(./fonts/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
		 url(./fonts/NotoSansKR-Bold.woff) format('woff'),
		 url(./fonts/NotoSansKR-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(./fonts/NotoSansKR-Medium.eot);
	src: url(./fonts/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
		 url(./fonts/NotoSansKR-Medium.woff) format('woff'),
		 url(./fonts/NotoSansKR-Medium.ttf) format('truetype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(./fonts/NotoSansKR-Regular.eot);
	src: url(./fonts/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
		 url(./fonts/NotoSansKR-Regular.woff) format('woff'),
		 url(./fonts/NotoSansKR-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(./fonts/NotoSansKR-Light.eot);
	src: url(./fonts/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
		 url(./fonts/NotoSansKR-Light.woff) format('woff'),
		 url(./fonts/NotoSansKR-Light.ttf) format('truetype');
}
@font-face {
	font-family: 'Roboto';
  	font-style: normal;
  	font-weight: 400;
	src: url(./fonts/Roboto-Regular.woff2) format('woff2'),
	url(./fonts/Roboto-Regular.woff) format('woff'),
	url(./fonts/Roboto-Regular.otf) format('opentype');
}
@font-face {
	font-family: 'Roboto';
  	font-style: normal;
  	font-weight: 700;
	src: url(./fonts/Roboto-Bold.woff2) format('woff2'),
	url(./fonts/Roboto-Bold.woff) format('woff'),
	url(./fonts/Roboto-Bold.otf) format('opentype');
}
*/



/* default */
*{margin:0;padding:0;word-break:keep-all;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-o-text-size-adjust:none;-ms-text-size-adjust:none;text-size-adjust:none;-webkit-overflow-scrolling: touch;}
html, body{width:100%; height:100%;font-size:16px;}
body{position:relative;font-family: 'Noto Sans KR', 'sans-serif';font-weight: 400;line-height:1.3;background: #282b32;color: #fff;}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,address,em,img,strong,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input,textarea,table,caption,tbody,tfoot,thead,tr,th,td,header,footer,nav,menu,section,article,aside,main,video{border:0;}
header,footer,section,article,aside,nav,main,details,menu,figure,figcaption,video{display:block}
table{border-collapse:collapse;border-spacing:0;word-wrap:break-word;word-break:break-all}
caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0}
table th,table td{text-align:center;vertical-align:middle}
ol,ul,li{list-style:none outside none}
a{color: inherit;text-decoration:none}
a:hover,a:visited{text-decoration:none}
button{overflow:visible;border:0 none;background:transparent;cursor:pointer;apperance:0;}
img{border:0 none}
form,input,select,label,img{vertical-align:middle}
em,address{font-style:normal}
h1,h2,h3,h4,h5,h6{font-weight:700}
.blind{position: absolute;clip: rect(0 0 0 0);width: 1px;height: 1px;margin: -1px;overflow: hidden;}

#wrap{min-width:320px;width:100%;min-height: 100%;position:relative;left:0;box-sizing: border-box;}
#header{-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
-moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);}
#header .head{position:relative;height: 55px;background: #1e212a;display: table;width: 100%;}
#header .subtitle{display:table-cell;vertical-align:middle;padding-left:59px;font-size: 18px;color: #fff;font-weight: 500;}
#header .h_btn{position: absolute;top:0;left:2px;width: 50px;height:100%;}
#header .h_btn:after{position:absolute;top:50%;left:50%;width: 24px;height:23px;margin:-12px 0 0 -12px;display: block;content:'';background: url(../img/sp_hb.png) no-repeat 0 0 / auto 23px;}
#header .h_btn.back:after{background-position: -24px 0}
#header .h_btn.r{left: auto;right:2px;}

.calendar_w{padding: 10px 15px 0;}
.calendar_top{display:table;width:100%;position:relative;text-align: center;border-bottom: 1px solid #404040}
.calendar_top .inner{display:table-cell;width:100%;height: 45px;vertical-align: middle}
.calendar_top .date{font-size: 21px;color: #ff463c;font-family: 'Roboto', 'Noto Sans KR', sans-serif;font-weight: 400;}
.btn_pn{display:inline-block;position: absolute;top:0;left:2px;width: 50px;height:100%;}
.btn_pn:after{position:absolute;top:50%;left:50%;width: 12px;height:21px;margin:-11px 0 0 -6px;display: block;content:'';background: url(../img/sp_pn.png) no-repeat 0 0 / 24px 21px;}
.btn_pn.next{left:auto;right:2px;}
.btn_pn.next:after{background-position: -12px 0}
.tbl_calendar{width: 100%;table-layout: fixed}
.tbl_calendar thead th{width:14.285%;font-size: 11px;color: #999;font-weight: 400;text-align: center;}
.tbl_calendar td{height:62px;border-bottom: 1px solid #404040;font-family: 'Roboto', 'Noto Sans KR', sans-serif;font-weight: 400;font-size: 15px;color: #fff;text-align: center;vertical-align: bottom}
.tbl_calendar tr:last-child td{border-bottom: 0;}
.tbl_calendar .day{position:relative;display: inline-block;padding: 12px 0 15px;}
.tbl_calendar .day.point:before{display: block;content: '';width: 8px;height:8px;position: absolute;top:0;right: 0;background: #a13cff;border-radius: 100%}
.tbl_calendar .day.on{font-weight: 700;color: #ff463c;}
.tbl_calendar .percent{position:absolute;bottom:2px;right:0;font-size: 11px;color: #18ff1b;text-align: right}
